<div [@routerTransition]>
  <app-page-header [icon1]="'fa-user-circle'" [heading1]="'Users'"></app-page-header>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <tbody>
            <tr *ngFor="let ul of usersList |  filter : 'username' : currSearchTxt ; let i = index"
              (click)="setModel(ul.id)" (dblclick)="dblSetModel()">
              <td>{{ul.username}}</td>
              <!-- <td width="100">
                <app-action [trashContent]="trashContent" [id]="ul.id" [isTrash]="trash" (trash)="open($event)">
                </app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <form name="form" id="UserForm" (ngSubmit)="f.form.valid&&create(f)" #f="ngForm" novalidate>
          <div class="row text-center" >
              <div class="col-md-12 form-group">
                <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate">Add</button>
                <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                  (click)="update(f)">Update</button>
                <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                  (click)="enableFormEditable()">Edit</button> -->
                  <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == ''">
                      {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                    </button>
        
                    <span class="pull-right" *ngIf="showAction">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="action" name="sel1" #sel1="ngModel"
                          (change)="actions(action,trashContent,f)">
                          <option [ngValue]="null" hidden selected>Choose action</option>
                          <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                            {{ al.key }}
                          </option>
                        </select>
                      </div>
                    </span>            </div>
            </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Username<span class="required">*</span></label>
              <select class="form-control" name="uname" [(ngModel)]="model.username"
                [disabled]="readOnlyForm == 'R'" [ngClass]="{'is-invalid': f.submitted && uname.invalid}"
                #uname="ngModel" required>
                <option *ngFor="let gar of getAllR" [ngValue]="gar.email">{{gar.fullname}}
                </option>
              </select>
              <div class="invalid-feedback">
                username is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Password<span class="required">*</span></label>
              <div class="input-group mb-3">
                <input type="password" class="form-control" [(ngModel)]="model.password"
                  [readonly]="readOnlyForm == 'R'" name="pwd" [ngClass]="{'is-invalid': f.submitted && pwd.invalid}"
                  #pwd="ngModel" #password required>

                <div class="input-group-append">
                  <span class="input-group-text" id="toogle" (click)="toogle(password)">
                    <i class="fa fa-eye" *ngIf="!viewPassword" aria-hidden="true"></i>
                    <i class="fa fa-eye-slash" *ngIf="viewPassword" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="invalid-feedback">
                password is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Role<span class="required">*</span></label>
              <select class="form-control" name="role" [(ngModel)]="model.role" [disabled]="readOnlyForm == 'R'"
                [ngClass]="{'is-invalid': f.submitted && role.invalid}" #role="ngModel" required>
                <option *ngFor="let rl of rolesList">{{rl}}
                </option>
              </select>
              <div class="invalid-feedback">
                role is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="model.properties.length>0">
            <div class="col-md-12" *ngIf="model.properties.length > 0">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row" *ngFor="let ap of model.properties; let i = index">
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.name"
                        class="form-control"
                        name="addPropName{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.value"
                        class="form-control"
                        name="addPropValue{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-minus"
                        aria-hidden="true"
                        id="decrease"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, i)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="5" cols="5" type="password" class="form-control" name="description"
                [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row">
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apName" class="form-control" name="apName" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-plus"
                        aria-hidden="true"
                        id="increase"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, 0)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row text-center" >
            <div class="col-md-12">
              <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate"
>Add</button>
              <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                (click)="update(f)">Update</button>
              <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button> -->
                <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == ''">
                    {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                  </button>
      
                  <span class="pull-right" *ngIf="showAction">
                    <div class="form-group">
                      <select class="form-control" [(ngModel)]="action" name="sel1" #sel1="ngModel"
                        (change)="actions(action,trashContent,f)">
                        <option [ngValue]="null" hidden selected>Choose action</option>
                        <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                          {{ al.key }}
                        </option>
                      </select>
                    </div>
                  </span>            </div>
          </div>
      </form>
    </div>
  </div>
</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
