<div [@routerTransition]>
    <app-page-header [icon1]="'fa-user-circle'" [heading1]="'Users'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3"><strong>Total No of records : {{usersList.length}}</strong></div>
                <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
                        [(ngModel)]="currSearchTxt" /></div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr *ngFor="let ul of usersList |  filter : 'username' : currSearchTxt ; let i = index"
                            (click)="readOnlyEnable(ul.id)" (dblclick)="editUser(ul)">
                            <td>{{ul.username}}</td>
                            <td>
                                <span class="fa fa-trash pull-right" data-toggle="tooltip" title="Delete"
                                    (click)="open(content,ul.id)"></span>
                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title">User</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete ? &hellip;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="deleteUserRecord()">Ok</button>
                                        <button type="button" class="btn btn-secondary"
                                            (click)="c('Close click')">Close</button>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <form name="form" id="UserForm" (ngSubmit)="f.form.valid&&createUser(f)" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Username<span class="required">*</span></label>
                            <select class="form-control" name="uname" [(ngModel)]="usersModel.username"
                                [disabled]="readOnlyForm == 'R'"
                                [ngClass]="{'is-invalid': f.submitted && uname.invalid}" #uname="ngModel" required>
                                <option *ngFor="let gar of getAllR" [ngValue]="gar.email">{{gar.fullname}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                username is mandatory
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Password<span class="required">*</span></label>
                            <input type="password" class="form-control" [(ngModel)]="usersModel.password"
                                [readonly]="readOnlyForm == 'R'" name="pwd"
                                [ngClass]="{'is-invalid': f.submitted && pwd.invalid}" #pwd="ngModel" required>
                            <div class="invalid-feedback">
                                password is mandatory
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Role<span class="required">*</span></label>
                            <select class="form-control" name="role" [(ngModel)]="usersModel.role"
                                [disabled]="readOnlyForm == 'R'" [ngClass]="{'is-invalid': f.submitted && role.invalid}"
                                #role="ngModel" required>
                                <option *ngFor="let rl of rolesList">{{rl}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                role is mandatory
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="5" cols="5" type="password" class="form-control" name="description"
                                [readonly]="readOnlyForm == 'R'" [(ngModel)]="usersModel.description"></textarea>
                        </div>
                    </div>
                </div>
                <strong>Additional Properties</strong>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
                <tr *ngFor="let ap of usersModel.properties;let i=index">
                  <td>
                    <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="ap.name" name="pname{{i}}"
                      placeholder="name" #pname="ngModel">
                  </td>
                  <td>
                    <input class="form-control" type="text" [readonly]="readOnlyForm == 'R'" [(ngModel)]="ap.value"
                      name="pvalue{{i}}" placeholder="value" #pvalue="ngModel">

                  </td>
                  <td>
                    <i class="fa fa-minus" aria-hidden="true" id="decrease"
                      (click)="propertiesListIncrement($event.target,i)"></i><br>
                    <i class="fa fa-plus" *ngIf="(i+1)==usersModel.properties.length" aria-hidden="true"
                      id="increase" (click)="propertiesListIncrement($event.target,i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
                <div class="row text-center">
                    <div class="col-md-8 mt-4">
                        <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">Add</button>
                        <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                            (click)="updateUsers(f)">Update</button>
                        <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                            (click)="enableFormEditable()">Edit</button>
                        <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>