<nav
  class="sidebar"
  (mouseover)="sidebarExpand()"
  (mouseleave)="sidebarCollapse()"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <div class="list-group">
    <a routerLink="/layout/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-home"></i>
      <span>{{ 'Dashboard' | translate }}</span>
    </a>
    <div class="nested-menu" (mouseover)="addExpandClass('calls')" (mouseleave)="addCollapseClass()">
      <a class="list-group-item">
        <i class="fa fa-fw fa-phone"></i>
        <span>{{ 'Calls' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'calls'">
        <ul class="submenu">
          <li>
            <a class="list-group-item " [routerLink]="['/layout/consultant-call-history']" [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-users"></span>
              <span>{{ 'Consultants' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="list-group-item " [routerLink]="['/layout/client-call-history']" [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-building"></span>
              <span>{{ 'Clients' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <a [routerLink]="['/layout/consultant']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-users"></i>
      <span>{{ 'Consultants' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/client']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-building"></i>
      <span>{{ 'Clients' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/client-position']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-briefcase"></i>
      <span>{{ 'Client Positions' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/client-application']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-paper-plane"></i>
      <span>{{ 'Client Applications' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/payments']" [routerLinkActive]="['router-link-active']" class="list-group-item"
      ><i class="fa fa-fw fa-inr"></i>
      <span>{{ 'Payments' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/other-contacts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-address-book"></i>
      <span>{{ 'Other Contacts' | translate }}</span>
    </a>
    <div
      class="nested-menu"
      (mouseover)="addExpandClass('administration')"
      (mouseleave)="addCollapseClass()"
      *ngIf="loggedInRole == 'Admin'"
    >
      <a class="list-group-item">
        <i class="fa fa-fw fa-user"></i>
        <span>{{ 'Administration' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'administration'">
        <ul class="submenu">
          <li>
            <a [routerLink]="['/layout/recruiter']" [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-id-card"></i>
              <span>{{ 'Recruiters' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/client-application-status']" [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-filter"></i>
              <span>{{ 'Application Status' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/client-position-status']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-filter"></i>
              <span>{{ 'Position Status' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/consultant-status']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-filter"></i>
              <span>{{ 'Consultant Status' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/user']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-user-circle"></i>
              <span>{{ 'Users' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/email-template']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-envelope"></i>
              <span>{{ 'Emails' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/message-template']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-comment"></i>
              <span>{{ 'Messages' | translate }}</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/layout/send-message']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-comments"></i>
              <span>{{ 'Send Message' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/industry-type']" [routerLinkActive]="['router-link-active']" class="list-group-item"
              ><i class="fa fa-fw fa-industry"></i>
              <span>{{ 'Industries' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div class="nested-menu" (mouseover)="addExpandClass('guide')" (mouseleave)="addCollapseClass()">
      <a class="list-group-item">
        <i class="fa fa-fw fa-book"></i>
        <span>{{ 'Guides' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'guide'">
        <ul class="submenu">
          <li>
            <a class="list-group-item " [routerLink]="['/layout/search-bank']" [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-search"></span>
              <span>{{ 'Search Bank' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="list-group-item " [routerLink]="['/layout/faq']" [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-question-circle"></span>
              <span>{{ "FAQ's" | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div class="nested-menu" (mouseover)="addExpandClass('history')" (mouseleave)="addCollapseClass()">
      <a class="list-group-item">
        <i class="fa fa-fw fa-history"></i>
        <span>{{ 'History' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'history'">
        <ul class="submenu">
          <li>
            <a class="list-group-item " [routerLink]="['/layout/email-history']" [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-envelope"></span>
              <span>{{ 'Emails' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="list-group-item " [routerLink]="['/layout/message-history']" [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-comments"></span>
              <span>{{ 'Messages' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <!-- <a [routerLink]="['/layout/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>
      <span>{{ 'Charts' | translate }}</span>
    </a> -->
    <!-- <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>
            <span>{{ 'Tables' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>
            <span>{{ 'Forms' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/layout/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>   -->
    <!-- <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/layout/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>
            <span>{{ 'Component' | translate }}</span>
        </a> -->

    <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>
            <span>{{ 'Blank Page' | translate }}</span>
        </a> -->
    <!-- <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>
            <span>{{ 'More Themes' | translate }}</span>
        </a> -->

    <!-- <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i> RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i> John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div> -->
    <!-- <div class="toggle-button" [ngClass]="{collapsed: collapsed}" >
      <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>
      <span>{{ 'Collapse ' | translate }}</span>
    </div> -->
  </div>
</nav>
