<nav class="sidebar" (mouseover)="sidebarExpand(this)"  (mouseleave)="sidebarCollapse(this)" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">

    <a routerLink="/layout/dashboard" (click)="toggleCollapsed()" [routerLinkActive]="['router-link-active']"
      class="list-group-item"> 
      <i class="fa fa-fw fa-home"></i>&nbsp;
      <span>{{ 'Dashboard' | translate }}</span>
    </a>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('calls');toggleCollapsed('calls');">
        <i class="fa fa-fw fa-phone"></i>&nbsp;
        <span>{{ 'Calls' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'calls'">
        <ul class="submenu">
          <li>
            <a class="list-group-item " (click)="toggleCollapsed()" [routerLink]="['/layout/consultant-call-history']"
              [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-users"></span>
              <span>{{ 'Consultants' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="list-group-item " (click)="toggleCollapsed()" [routerLink]="['/layout/client-call-history']"
              [routerLinkActive]="['router-link-active']">
              <span class="fa fa-fw fa-building"></span>
              <span>{{ 'Clients' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <a [routerLink]="['/layout/consultant']" (click)="toggleCollapsed()" [routerLinkActive]="['router-link-active']"
      class="list-group-item">
      <i class="fa fa-fw fa-users"></i>&nbsp;
      <span>{{ 'Consultants' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/client']" (click)="toggleCollapsed()" [routerLinkActive]="['router-link-active']"
      class="list-group-item">
      <i class="fa fa-fw fa-building"></i>&nbsp;
      <span>{{ 'Clients' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/client-position']" (click)="toggleCollapsed()"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-briefcase"></i>&nbsp;
      <span>{{ 'Client Positions' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/client-application']" (click)="toggleCollapsed()"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-paper-plane"></i>&nbsp;
      <span>{{ 'Client Applications' | translate }}</span>
    </a>
    <a *ngIf="loggedInRole == 'Admin' " [routerLink]="['/layout/payments']" (click)="toggleCollapsed()"
      [routerLinkActive]="['router-link-active']" class="list-group-item"><i class="fa fa-fw fa-inr"></i>&nbsp;
      <span>{{ 'Payments' | translate }}</span>
    </a>
    <a [routerLink]="['/layout/other-contacts']" (click)="toggleCollapsed()" [routerLinkActive]="['router-link-active']"
      class="list-group-item">
      <i class="fa fa-fw fa-address-book"></i>&nbsp;
      <span>{{ 'Other Contacts' | translate }}</span>
    </a>
    <div class="nested-menu" *ngIf="loggedInRole == 'Admin' ">
      <a class="list-group-item" (click)="addExpandClass('administration');toggleCollapsed('administration');">
        <i class="fa fa-fw fa-user"></i>&nbsp;
        <span>{{ 'Administration' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'administration'">
        <ul class="submenu">
          <li>
            <a (click)="toggleCollapsed()" [routerLink]="['/layout/recruiter']"
              [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-id-card"></i>&nbsp;
              <span>{{ 'Recruiters' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/client-application-status']" (click)="toggleCollapsed()"
              [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-filter"></i>&nbsp;
              <span>{{ 'Application Status' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/client-position-status']" (click)="toggleCollapsed()"
              [routerLinkActive]="['router-link-active']" class="list-group-item"><i
                class="fa fa-fw fa-filter"></i>&nbsp;
              <span>{{ 'Position Status' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/consultant-status']" (click)="toggleCollapsed()"
              [routerLinkActive]="['router-link-active']" class="list-group-item"><i
                class="fa fa-fw fa-filter"></i>&nbsp;
              <span>{{ 'Consultant Status' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/user']" (click)="toggleCollapsed()" [routerLinkActive]="['router-link-active']"
              class="list-group-item"><i class="fa fa-fw fa-user-circle"></i>&nbsp;
              <span>{{ 'Users' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/email-template']" (click)="toggleCollapsed()"
              [routerLinkActive]="['router-link-active']" class="list-group-item"><i
                class="fa fa-fw fa-envelope"></i>&nbsp;
              <span>{{ 'Emails' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/layout/message-template']" (click)="toggleCollapsed()"
              [routerLinkActive]="['router-link-active']" class="list-group-item"><i
                class="fa fa-fw fa-comment"></i>&nbsp;
              <span>{{ 'Messages' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/layout/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>   -->
    <!-- <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a> -->
    <!-- <a [routerLink]="['/layout/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a> -->

    <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a> -->
    <!-- <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a> -->

    <!-- <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div> -->
    <!-- <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
      <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
      <span>{{ 'Collapse ' | translate }}</span>
    </div> -->
  </div>
</nav>
