<div [@routerTransition]>
  <div
    class="spinner padding-top justify-content-md-center"
    *ngIf="!listReturned"
  >
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="row" *ngIf="listReturned">
    <div class="col-md-6">
      <div class="row">
        <div
          class="col col-xl-12 col-lg-12"
          *ngIf="interviewsToday.length != 0"
        >
          <div class="card mb-3">
            <div
              class="link card-header bg-dark text-clr-white"
              (click)="selectLeftTable(constantProperties.DASHBOARD_ITW)"
            >
              {{ constantProperties.DASHBOARD_ITW }}
            </div>
            <div>
              <div
                [ngbCollapse]="
                  showLeftTable != constantProperties.DASHBOARD_ITW
                "
                class="card-body table-responsive"
              >
                <table class="table table-sm table-striped ">
                  <thead>
                    <tr>
                      <th>{{ constantProperties.CLIENT }}</th>
                      <th>{{ constantProperties.CON }}</th>
                      <th>{{ constantProperties.TH_MODE }}</th>
                      <th>
                        {{ constantProperties.TH_DATE }}/{{
                          constantProperties.TH_TIME
                        }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let val of interviewsToday"
                      [ngClass]="{ 'bl-yellow': val.interviewDate === today }"
                    >
                      <td
                        container="body"
                        class="click-data"
                        [autoClose]="'outside'"
                        [ngbPopover]="popContent1"
                        [popoverTitle]="popTitle1"
                      >
                        {{ val.clientName }}
                      </td>
                      <td
                        container="body"
                        class="click-data"
                        [autoClose]="'outside'"
                        [ngbPopover]="popContent2"
                        [popoverTitle]="popTitle2"
                      >
                        {{ val.consultantName }}
                      </td>
                      <td>{{ val.interviewMode }}</td>
                      <td>
                        {{ val.interviewDate | date }}/{{ val.interviewTime }}
                      </td>
                      <ng-template #popContent1>{{
                        val.clientPhone
                      }}</ng-template>
                      <ng-template #popTitle1><b>Client Phone</b></ng-template>
                      <ng-template #popContent2
                        >{{ val.consultantPhone }}
                      </ng-template>
                      <ng-template #popTitle2
                        ><b>Consultant Phone</b></ng-template
                      >
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-3">
            <div class=" card-header bg-dark text-clr-white">
              <span
                class="link"
                (click)="selectLeftTable(constantProperties.DASHBOARD_QSU)"
                >{{ constantProperties.DASHBOARD_QSU }}</span
              >
              <span class="pull-right">
                <button
                  type="submit"
                  *ngIf="selectedCAList.length > 0"
                  class="btn btn-secondary btn-sm ml-3"
                  (click)="open(multipleQSU, 0, 'any')"
                >
                  Change Status
                </button>
              </span>
            </div>

            <div
              [ngbCollapse]="showLeftTable != constantProperties.DASHBOARD_QSU"
              class="card-body  table-responsive table-overflow-l"
            >
              <table class="table table-sm table-striped ">
                <thead>
                  <tr>
                    <th></th>
                    <th>{{ constantProperties.CLIENT }}</th>
                    <th>{{ constantProperties.CON }}</th>
                    <th>{{ constantProperties.TH_STAT }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ca of caStat">
                    <td class="checkbox" width="15px">
                      <label>
                        <input
                          class="check"
                          type="checkbox"
                          (change)="onSelectApplication($event, ca)"
                        />
                      </label>
                    </td>
                    <td>
                      {{ ca.clientName }}
                    </td>
                    <td>
                      {{ ca.consultantName }}
                    </td>
                    <td colspan="2">
                      <select
                        class="form-control form-control-sm"
                        name="cas"
                        [(ngModel)]="ca.status"
                        (change)="updateCAStatus(ca, ca.status, 'table')"
                      >
                        <option
                          *ngFor="let casl of caStatusList?.list"
                          [ngValue]="casl.code"
                        >
                          {{ casl.description }}
                        </option> </select
                      ><i
                        *ngIf="updateIndex == ca.id"
                        class="fa fa-check fa-lg fa-position"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-3">
            <div
              class="link card-header bg-dark text-clr-white"
              (click)="selectLeftTable(constantProperties.DASHBOARD_OCP)"
            >
              {{ constantProperties.DASHBOARD_OCP
              }}<i
                class="fa fa-question-circle-o ml-2"
                placement="top"
                ngbTooltip="All those positions which dont have any applications."
                aria-hidden="true"
              ></i>
            </div>
            <div>
              <div
                [ngbCollapse]="
                  showLeftTable != constantProperties.DASHBOARD_OCP
                "
                class="card-body"
              >
                <table
                  class="table table-sm table-striped my-custom-scrollbar table-wrapper-scroll-y"
                >
                  <thead>
                    <tr>
                      <th>{{ constantProperties.CLIENT }}</th>
                      <th>{{ constantProperties.TH_DATE }}</th>
                      <th>{{ constantProperties.TH_ASSIGN }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ocp of openCP">
                      <td>{{ ocp.generatedCode }}</td>
                      <td width="100">
                        {{ ocp.createdDate | date: "dd-MM-yy" }}
                      </td>
                      <td>{{ ocp.recruiterName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="listReturned">
      <div class="row">
        <div class="col col-xl-12 col-lg-12" *ngIf="paymentTrack.length">
          <div class="card mb-3">
            <div
              class="card-header bg-dark text-clr-white link"
              (click)="selectRightTable(constantProperties.DASHBOARD_PT)"
            >
              {{ constantProperties.DASHBOARD_PT }}
            </div>
            <div>
              <div
                [ngbCollapse]="
                  showRightTable != constantProperties.DASHBOARD_PT
                "
                class="card-body table-responsive"
              >
                <table class="table table-sm table-striped ">
                  <thead>
                    <tr>
                      <th>{{ constantProperties.CLIENT }}</th>
                      <th>{{ constantProperties.CON }}</th>
                      <th>{{ constantProperties.JOINING_DATE }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pt of paymentTrack">
                      <td>
                        {{ pt.companyName }}
                      </td>
                      <td>
                        {{ pt.candidateName }}
                      </td>
                      <td>{{ pt.joiningDate | date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-3">
            <div
              (click)="getGraphData()"
              class="link card-header bg-dark text-clr-white"
            >
              {{ constantProperties.DASHBOARD_CAS }}
            </div>
            <div
              [ngbCollapse]="showRightTable != constantProperties.DASHBOARD_CAS"
              *ngIf="caByStatusList.length"
              class="card-body table-overflow"
            >
              <div [style.height.px]="stackChartHeight">
                <canvas
                  baseChart
                  id="activeCAChart"
                  [datasets]="barChartCAByStatusData"
                  [labels]="barChartCAByStautsLabels"
                  [colors]="stackbarChartColors"
                  [options]="barChartOptions"
                  [legend]="stackBarChartLegend"
                  [chartType]="barChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xl-12 col-lg-12" *ngIf="cpEmptyPostings.length">
          <div class="card mb-3">
            <div
              class="card-header bg-dark text-clr-white link"
              (click)="selectRightTable(constantProperties.DASHBOARD_TODO)"
            >
              {{ constantProperties.DASHBOARD_TODO }}
            </div>
            <div>
              <div
                [ngbCollapse]="
                  showRightTable != constantProperties.DASHBOARD_TODO
                "
                class="card-body table-responsive"
              >
                <table class="table table-sm table-striped ">
                  <thead>
                    <tr>
                      <th>Client Position</th>
                      <th>Postings</th>
                    </tr>
                  </thead>
                  <tbody class="word-break">
                    <tr *ngFor="let ep of cpEmptyPostings">
                      <td width="100">
                        {{ ep.generatedCode }}
                      </td>
                      <td>
                        {{ ep.value }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="dyingCP.length > 0">
          <div class="card mb-3">
            <div
              class="card-header bg-dark text-clr-white link"
              (click)="selectRightTable(constantProperties.DASHBOARD_DCP)"
            >
              {{ constantProperties.DASHBOARD_DCP
              }}<i
                class="fa fa-question-circle-o ml-2"
                placement="top"
                ngbTooltip="All those positions which dont have applications since one week."
                aria-hidden="true"
              ></i>
            </div>
            <div
              [ngbCollapse]="showRightTable != constantProperties.DASHBOARD_DCP"
              class="card-body"
            >
              <table
                class="table table-sm table-striped my-custom-scrollbar table-wrapper-scroll-y"
              >
                <thead>
                  <tr>
                    <th>{{ constantProperties.CLIENT }}</th>
                    <th>{{ constantProperties.TH_DATE }}</th>
                    <th>{{ constantProperties.TH_ASSIGN }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ocp of dyingCP">
                    <td>{{ ocp.generatedCode }}</td>
                    <td width="100">
                      {{ ocp.createdDate | date: "dd-MM-yy" }}
                    </td>
                    <td>{{ ocp.recruiterName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white">
          Client Call History
          <span class="pull-right">
            <select class="form-control form-control-sm" name="clchChoosenDays" [(ngModel)]="clchChoosenDays"
              (change)="clchGetAllByDays()">
              <option *ngFor="let nod of noOfDays" [ngValue]="nod.value">{{nod.key}}
              </option>
            </select>
          </span>
        </div>
        <div *ngIf="ccptReportCLCH.length != 0" class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cch of ccptReportCLCH" class="link" placement="top" ngbTooltip="click for details"
                data-toggle="tooltip" (click)="open(contentClch, cch.recruiterId, 'ClientCallHistory')">
                <td>{{ cch.fullName }}</td>
                <td>{{ cch.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
      </div>
    </div>
  </div>
</div>
<ng-template #contentClch let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ constantProperties.CLI_C_H }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>
              {{ constantProperties.TH_CALLER }}
            </th>
            <th>
              {{ constantProperties.CP }}
            </th>
            <th>
              {{ constantProperties.TH_CALL_DATE }}
            </th>
            <th width="150">
              {{ constantProperties.TH_DESC }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of clchByIdList">
            <td>{{ aca.calledBy.fullname }}</td>
            <td>{{ aca.clientPosition.generatedCode }}</td>
            <td>{{ aca.calledDate }}</td>
            <td>{{ aca.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>
<ng-template #contentCoCH let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ constantProperties.CON_C_H }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-scroll ht-30">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>
              {{ constantProperties.TH_SNO }}
            </th>
            <th>
              {{ constantProperties.TH_CALLER }}
            </th>
            <th>
              {{ constantProperties.CON }}
            </th>
            <th>
              {{ constantProperties.TH_CALL_DATE }}
            </th>
            <th width="150">
              {{ constantProperties.TH_DESC }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of cochByIdList; let i = index">
            <td>{{ i + 1 }}.</td>
            <td>{{ aca.calledBy.fullname }}</td>
            <td>
              {{ aca.consultant.fullname }}
            </td>
            <td>{{ aca.calledDate }}</td>
            <td>{{ aca.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>
<ng-template #contentACA let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ constantProperties.DASHBOARD_ACA }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-scroll ht-30">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>{{ constantProperties.TH_SNO }}</th>
            <th>{{ constantProperties.TH_POS }}</th>
            <th>{{ constantProperties.CLIENT }}</th>
            <th>{{ constantProperties.CON }}</th>
            <th>{{ constantProperties.TH_INT_DT }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of activeCAById; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ aca.clientPosition.generatedCode }}</td>
            <td>{{ aca.clientPosition.client.name }}</td>
            <td>{{ aca.consultant.fullname }}</td>
            <td>{{ aca.interviewDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>
<ng-template #top5CP let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ constantProperties.CP }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      name="form"
      id="clientPositionForm"
      (ngSubmit)="f.form.valid && create(f)"
      #f="ngForm"
      novalidate
    >
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_CN }} </label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById?.client.name"
              name="cn"
              [ngClass]="{ 'is-invalid': f.submitted && cn.invalid }"
              #cn="ngModel"
              required
            />
            <!-- <select
                    class="form-control"
                    name="cn"
                    [disabled]="readOnlyForm == 'R'"
                    [(ngModel)]="top5ById.clientId"
                    [ngClass]="{ 'is-invalid': f.submitted && cn.invalid }"
                    #cn="ngModel"
                    required
                  >
                    <option *ngFor="let cls of clientList" [ngValue]="cls.id"> {{ cls.name }}</option>
                  </select>
                  <div class="invalid-feedback">
                    Client Name is mandatory
                  </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_JT }} </label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.role"
              name="technology"
              [ngClass]="{ 'is-invalid': f.submitted && technology.invalid }"
              #technology="ngModel"
              required
            />
            <div class="invalid-feedback">
              Role is mandatory
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_JTY }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.jobType"
              name="jobType"
              [ngClass]="{ 'is-invalid': f.submitted && jobType.invalid }"
              #jobType="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_AVAIL }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.availability"
              name="availability"
              [ngClass]="{ 'is-invalid': f.submitted && availability.invalid }"
              #availability="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_RP }}</label>
            <input
              class="form-control"
              type="number"
              min="0"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.requiredPositions"
              name="nofpos"
              #nofpos="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_RE }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.experience"
              name="experience"
              [ngClass]="{ 'is-invalid': f.submitted && experience.invalid }"
              #experience="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_MIN_CTC }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              type="text"
              [(ngModel)]="top5ById.minCtc"
              name="minctc"
              [ngClass]="{ 'is-invalid': f.submitted && minctc.invalid }"
              #minctc="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_MAX_CTC }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              type="text"
              [(ngModel)]="top5ById.maxCtc"
              name="maxctc"
              [ngClass]="{ 'is-invalid': f.submitted && maxctc.invalid }"
              #maxctc="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.TH_LOC }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.location"
              name="loc"
              [ngClass]="{ 'is-invalid': f.submitted && loc.invalid }"
              #loc="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_CPS }} </label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.status.description"
              name="cps"
              [ngClass]="{ 'is-invalid': f.submitted && cps.invalid }"
              #cps="ngModel"
            />
            <!-- <select class="form-control" name="cps" [disabled]="readOnlyForm == 'R'" [(ngModel)]="top5ById.cpstatus">
                     <option *ngFor="let cpsl of clientPositionStatusList" [ngValue]="cpsl.code"> {{ cpsl.description }} </option>
                  </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_ASSIGN }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.assignedTo.fullname"
              name="assign"
              [ngClass]="{ 'is-invalid': f.submitted && assign.invalid }"
              #assign="ngModel"
            />
            <!-- <select
                      class="form-control"
                      name="assign"
                      [disabled]="readOnlyForm == 'R'"
                      [(ngModel)]="top5ById.assignedTo"
                      [ngClass]="{ 'is-invalid': f.submitted && assign.invalid }"
                      #assign="ngModel"
                    >
                      <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.name }}</option>
                    </select> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ constantProperties.CP_QUAL }}</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.qualification"
              name="qual"
              [ngClass]="{ 'is-invalid': f.submitted && qual.invalid }"
              #qual="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6" *ngIf="top5ById.cpstatus == 'Closed'">
          <div class="form-group">
            <label>{{ constantProperties.CP_CL_BY }}</label>
            <select
              class="form-control"
              name="closedBy"
              [disabled]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.closedBy"
            >
              <!-- <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.name }}</option> -->
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>{{ constantProperties.CP_REQ_SKILL }} </label>
            <textarea
              class="form-control"
              cols="10"
              rows="10"
              [(ngModel)]="top5ById.requiredSkills"
              name="requiredskills"
              [ngClass]="{
                'is-invalid': f.submitted && requiredskills.invalid
              }"
              #requiredskills="ngModel"
              required
              [readonly]="readOnlyForm == 'R'"
            ></textarea>
            <div class="invalid-feedback">
              Required Skills are mandatory
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="top5ById?.properties?.length > 0">
        <div class="col-md-12 mb-5" *ngIf="top5ById.properties.length > 0">
          <div class="form-group">
            <label>{{ constantProperties.ADD_PROP }}</label>
            <div
              class="row"
              *ngFor="let ap of top5ById.properties; let i = index"
            >
              <div class="col-md-5 pt-3">
                <input
                  type="text"
                  [(ngModel)]="ap.name"
                  class="form-control"
                  name="addPropName{{ i }}"
                  [readonly]="readOnlyForm == 'R'"
                />
              </div>
              <div class="col-md-5 pt-3">
                <input
                  type="text"
                  [(ngModel)]="ap.value"
                  class="form-control"
                  name="addPropValue{{ i }}"
                  [readonly]="readOnlyForm == 'R'"
                />
              </div>
              <!-- <div class="col-md-2 pt-3">
                          <i
                            class="fa fa-minus"
                            aria-hidden="true"
                            id="decrease"
                            *ngIf="enableButtonType != 'E'"
                            (click)="propertiesListIncrement($event.target, i)"
                          ></i>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>{{ constantProperties.TH_DESC }}</label>
            <angular-editor
              [(ngModel)]="top5ById.description"
              name="description"
              [config]="config"
            >
            </angular-editor>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      {{ constantProperties.CLOSE }}
    </button>
  </div>
</ng-template>
<ng-template #multipleQSU let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ constantProperties.DASHBOARD_QSU }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <h2>Choose Status to change:</h2>
      </div>
      <div class="col-md-6">
        <select
          class="form-control form-control-lg"
          style="width:200px"
          name="cast"
          [(ngModel)]="statusToChange"
        >
          <option selected hidden>status</option>
          <option *ngFor="let casl of caStatusList?.list" [ngValue]="casl.code">
            {{ casl.description }}
          </option>
        </select>
      </div>
    </div>
    <div class="table-scroll pt-3">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>{{ constantProperties.CLIENT }}</th>
            <th>{{ constantProperties.CON }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of selectedCAList; let i = index">
            <td>{{ aca.clientName }}</td>
            <td>{{ aca.consultantName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="updateCAStatus(selectedCAList,statusToChange,'popup')">
      Update
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>
<!-- </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
      </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}
    </ngb-alert>
    <hr />
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
          </div>
          <app-timeline></app-timeline>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-default mb-3">
          <div class="card-header">
            <i class="fa fa-bell fa-fw"></i> Notifications card
          </div>
          <app-notification></app-notification>
        </div>
  
        <app-chat></app-chat>
      </div>
    </div> -->
