<div [@routerTransition]>
  <div class="spinner padding-top justify-content-md-center" *ngIf="!listReturned">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="row" *ngIf="listReturned">
    <div class="col col-xl-12 col-lg-12" *ngIf="interviewsToday.length != 0">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white">Interviews this week</div>
        <div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Client</th>
                  <th>Client No.</th>
                  <th>Consultant</th>
                  <th>Consultant No.</th>
                  <th>Mode</th>
                  <th>Date</th>
                  <th>Location</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let val of interviewsToday">
                  <td>{{ val.clientName }}</td>
                  <td>{{ val.clientPhone }}</td>
                  <td>{{ val.consultantName }}</td>
                  <td>{{ val.consultantPhone }}</td>
                  <td>{{ val.interviewMode }}</td>
                  <td>{{ val.interviewDate | date }}</td>
                  <td>{{ val.interviewLocation }}</td>
                  <td>{{ val.interviewTime }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="listReturned">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header bg-dark text-clr-white">Client Application Status</div>
            <div class="card-body  table-responsive"  [style.height.px]="stackChartHeight">
              <table class="table tableFixHead table-sm ">
                <thead>
                  <tr>
                    <th>Client</th>
                    <th>Consultant</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let ca of caStat">
                    <td>{{ ca.clientName }}</td>
                    <td>{{ ca.consultantName }}</td>
                    <td>
                      <select class="form-control form-control-sm" name="cas" [(ngModel)]="ca.status" (change)="updateCAStatus(ca)">
                        <option *ngFor="let casl of caStatusList.list" [ngValue]="casl.code">
                          {{ casl.description }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="openCP.length>0">
          <div class="card mb-3">
            <div class="card-header bg-dark text-clr-white">Open Client Positions</div>
            <div>
              <div class="card-body">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Client</th>
                      <th>Code</th>
                      <th>Date</th>
                      <th>Assigned</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ocp of openCP">
                      <td>{{ ocp.clientName }}</td>
                      <td>{{ ocp.generatedCode }}</td>
                      <td width="100">{{ ocp.createdDate | date: 'dd-MM-yy' }}</td>
                      <td>{{ ocp.recruiterName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header bg-dark text-clr-white">
              Recruiter Performance
              <span class="pull-right">
                <select class="form-control form-control-sm" name="rpChoosenDays" [(ngModel)]="rpChoosenDays" (change)="rpGetAllByDays()">
                  <option *ngFor="let nod of noOfDays" [ngValue]="nod.value">{{ nod.key }} </option>
                </select>
              </span>
            </div>
            <div *ngIf="(ccptReportCC | json) != ({} | json)" class="card-body">
              <!--  -->
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Recruiter</th>
                    <th>No.of closures</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let val of ccptReportCC | keyvalue">
                    <td>{{ val.key }}</td>
                    <td>{{ val.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-3 ">
            <div class="card-header bg-dark text-clr-white">
              Consultant Call History
              <span class="pull-right">
                <select
                  class="form-control form-control-sm"
                  name="cochChoosenDays"
                  [(ngModel)]="cochChoosenDays"
                  (change)="cochGetAllByDays()"
                >
                  <option *ngFor="let nod of noOfDays" [ngValue]="nod.value">{{ nod.key }} </option>
                </select>
              </span>
            </div>
            <div *ngIf="ccptReportCOCH.length != 0" class="card-body">
              <table class="table table-sm ">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="link"
                    placement="top"
                    ngbTooltip="click for details"
                    *ngFor="let cch of ccptReportCOCH"
                    (click)="open(contentCoCH, cch.recruiterId, 'ConsultantCallHistory')"
                  >
                    <td>{{ cch.fullName }}</td>
                    <td>{{ cch.count }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="listReturned">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header bg-dark text-clr-white">
              Client Applications By Status
            </div>
            <div class="card-body" style="position: relative" [style.height.px]="stackChartHeight">
              <canvas
                baseChart
                id="activeCAChart"
                [datasets]="barChartCAByStatusData"
                [labels]="barChartCAByStautsLabels"
                [options]="barChartOptions"
                [legend]="stackBarChartLegend"
                [chartType]="barChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="dyingCP.length>0">
          <div class="card mb-3">
            <div class="card-header bg-dark text-clr-white">Dying Client Positions</div>
            <div class="card-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Client</th>
                    <th>Code</th>
                    <th>Date</th>
                    <th>Assigned</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ocp of dyingCP">
                    <td>{{ ocp.clientName }}</td>
                    <td>{{ ocp.generatedCode }}</td>
                    <td width="100">{{ ocp.createdDate | date: 'dd-MM-yy' }}</td>
                    <td>{{ ocp.recruiterName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white">
          Client Call History
          <span class="pull-right">
            <select class="form-control form-control-sm" name="clchChoosenDays" [(ngModel)]="clchChoosenDays"
              (change)="clchGetAllByDays()">
              <option *ngFor="let nod of noOfDays" [ngValue]="nod.value">{{nod.key}}
              </option>
            </select>
          </span>
        </div>
        <div *ngIf="ccptReportCLCH.length != 0" class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cch of ccptReportCLCH" class="link" placement="top" ngbTooltip="click for details"
                data-toggle="tooltip" (click)="open(contentClch, cch.recruiterId, 'ClientCallHistory')">
                <td>{{ cch.fullName }}</td>
                <td>{{ cch.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
      </div>
    </div>
  </div>
  <div class="row" *ngIf="listReturned">
    <!-- <div class="col-6">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white">
          Active Client Applications
        </div>
        <div class="card-body" style="position: relative" [style.height.px]="chartHeight">
          <canvas
            baseChart
            id="activeCAChart"
            [datasets]="barChartActiveCAData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [colors]="barChartColors"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row" *ngIf="listReturned"></div>
</div>
<ng-template #contentClch let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">Client Call History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>
              Caller
            </th>
            <th>
              Client Pos
            </th>
            <th>
              Called Date
            </th>
            <th width="150">
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of clchByIdList">
            <td>{{ aca.calledBy.fullname }}</td>
            <td>{{ aca.clientPosition.generatedCode }}</td>
            <td>{{ aca.calledDate }}</td>
            <td>{{ aca.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #contentCoCH let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">Consultant Call History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-scroll ht-30">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>
              S.No
            </th>
            <th>
              Caller
            </th>
            <th>
              Consultant
            </th>
            <th>
              Called Date
            </th>
            <th width="150">
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of cochByIdList; let i = index">
            <td>{{ i + 1 }}.</td>
            <td>{{ aca.calledBy.fullname }}</td>
            <td>{{ aca.consultant.fullname }}</td>
            <td>{{ aca.calledDate }}</td>
            <td>{{ aca.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #contentACA let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">Active Client Applications</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-scroll ht-30">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Position</th>
            <th>Client</th>
            <th>Consultant</th>
            <th>Interview Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aca of activeCAById; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ aca.clientPosition.generatedCode }}</td>
            <td>{{ aca.clientPosition.client.name }}</td>
            <td>{{ aca.consultant.fullname }}</td>
            <td>{{ aca.interviewDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #top5CP let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">Client Position</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Client Name </label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById?.client.name"
              name="cn"
              [ngClass]="{ 'is-invalid': f.submitted && cn.invalid }"
              #cn="ngModel"
              required
            />
            <!-- <select
                    class="form-control"
                    name="cn"
                    [disabled]="readOnlyForm == 'R'"
                    [(ngModel)]="top5ById.clientId"
                    [ngClass]="{ 'is-invalid': f.submitted && cn.invalid }"
                    #cn="ngModel"
                    required
                  >
                    <option *ngFor="let cls of clientList" [ngValue]="cls.id"> {{ cls.name }}</option>
                  </select>
                  <div class="invalid-feedback">
                    Client Name is mandatory
                  </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Job Title </label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.role"
              name="technology"
              [ngClass]="{ 'is-invalid': f.submitted && technology.invalid }"
              #technology="ngModel"
              required
            />
            <div class="invalid-feedback">
              Role is mandatory
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Job Type</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.jobType"
              name="jobType"
              [ngClass]="{ 'is-invalid': f.submitted && jobType.invalid }"
              #jobType="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Availability</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.availability"
              name="availability"
              [ngClass]="{ 'is-invalid': f.submitted && availability.invalid }"
              #availability="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Required Positions</label>
            <input
              class="form-control"
              type="number"
              min="0"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.requiredPositions"
              name="nofpos"
              #nofpos="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Required Experience</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.experience"
              name="experience"
              [ngClass]="{ 'is-invalid': f.submitted && experience.invalid }"
              #experience="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Min CTC</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              type="text"
              [(ngModel)]="top5ById.minCtc"
              name="minctc"
              [ngClass]="{ 'is-invalid': f.submitted && minctc.invalid }"
              #minctc="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Max CTC</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              type="text"
              [(ngModel)]="top5ById.maxCtc"
              name="maxctc"
              [ngClass]="{ 'is-invalid': f.submitted && maxctc.invalid }"
              #maxctc="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Location</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.location"
              name="loc"
              [ngClass]="{ 'is-invalid': f.submitted && loc.invalid }"
              #loc="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Client Position Status </label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.status.description"
              name="cps"
              [ngClass]="{ 'is-invalid': f.submitted && cps.invalid }"
              #cps="ngModel"
            />
            <!-- <select class="form-control" name="cps" [disabled]="readOnlyForm == 'R'" [(ngModel)]="top5ById.cpstatus">
                     <option *ngFor="let cpsl of clientPositionStatusList" [ngValue]="cpsl.code"> {{ cpsl.description }} </option>
                  </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Assign To</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.assignedTo.fullname"
              name="assign"
              [ngClass]="{ 'is-invalid': f.submitted && assign.invalid }"
              #assign="ngModel"
            />
            <!-- <select
                      class="form-control"
                      name="assign"
                      [disabled]="readOnlyForm == 'R'"
                      [(ngModel)]="top5ById.assignedTo"
                      [ngClass]="{ 'is-invalid': f.submitted && assign.invalid }"
                      #assign="ngModel"
                    >
                      <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.name }}</option>
                    </select> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Qualification</label>
            <input
              class="form-control"
              [readonly]="readOnlyForm == 'R'"
              [(ngModel)]="top5ById.qualification"
              name="qual"
              [ngClass]="{ 'is-invalid': f.submitted && qual.invalid }"
              #qual="ngModel"
            />
          </div>
        </div>
        <div class="col-md-6" *ngIf="top5ById.cpstatus == 'Closed'">
          <div class="form-group">
            <label>Closed By</label>
            <select class="form-control" name="closedBy" [disabled]="readOnlyForm == 'R'" [(ngModel)]="top5ById.closedBy">
              <!-- <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.name }}</option> -->
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Required Skills </label>
            <textarea
              class="form-control"
              cols="10"
              rows="10"
              [(ngModel)]="top5ById.requiredSkills"
              name="requiredskills"
              [ngClass]="{ 'is-invalid': f.submitted && requiredskills.invalid }"
              #requiredskills="ngModel"
              required
              [readonly]="readOnlyForm == 'R'"
            ></textarea>
            <div class="invalid-feedback">
              Required Skills are mandatory
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="top5ById?.properties?.length > 0">
        <div class="col-md-12 mb-5" *ngIf="top5ById.properties.length > 0">
          <div class="form-group">
            <label>Additional Properties</label>
            <div class="row" *ngFor="let ap of top5ById.properties; let i = index">
              <div class="col-md-5 pt-3">
                <input type="text" [(ngModel)]="ap.name" class="form-control" name="addPropName{{ i }}" [readonly]="readOnlyForm == 'R'" />
              </div>
              <div class="col-md-5 pt-3">
                <input
                  type="text"
                  [(ngModel)]="ap.value"
                  class="form-control"
                  name="addPropValue{{ i }}"
                  [readonly]="readOnlyForm == 'R'"
                />
              </div>
              <!-- <div class="col-md-2 pt-3">
                          <i
                            class="fa fa-minus"
                            aria-hidden="true"
                            id="decrease"
                            *ngIf="enableButtonType != 'E'"
                            (click)="propertiesListIncrement($event.target, i)"
                          ></i>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Description</label>
            <angular-editor [(ngModel)]="top5ById.description" name="description" [config]="config"> </angular-editor>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button> -->
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<!-- </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
      </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}
    </ngb-alert>
    <hr />
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
          </div>
          <app-timeline></app-timeline>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-default mb-3">
          <div class="card-header">
            <i class="fa fa-bell fa-fw"></i> Notifications card
          </div>
          <app-notification></app-notification>
        </div>
  
        <app-chat></app-chat>
      </div>
    </div> -->
