<div [@routerTransition]>
  <!-- <div class="row">
    <div class="col-md-12">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slider of sliders">
          <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
          <div class="carousel-caption">
            <h3>{{slider.label}}</h3>
            <p>{{slider.text}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr> -->


  <div class="row">
    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white" >Recruiter Performance
          <span class="pull-right">
            <select class="form-control form-control-sm" name="cp" #t [(ngModel)]="rpChoosenDays"
              (change)="rpGetAllByDays()">
              <option *ngFor="let nod of noOfDays | keyvalue" [ngValue]="nod.value">{{nod.key}}
              </option>
            </select>
          </span>
        </div>
        <div class="table-scroll">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Recruiter</th>
                <th>No.of closures</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of ccptReportCC | keyvalue">
                <td>{{val.key}}</td>
                <td>{{val.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white">Latest Client Positions
        </div>
        <div class="table-scroll">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Client </th>
                <th>Code</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cpl of ccptReportCPL">
                <td>{{cpl.client.name}}</td>
                <td>{{cpl.generatedCode}}</td>
                <td>{{cpl.createdDate | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3 ">
        <div class="card-header bg-dark text-clr-white">Consultant Call History<span class="pull-right">
            <select class="form-control form-control-sm" name="cp" #t [(ngModel)]="cochChoosenDays"
              (change)="cochGetAllByDays()">
              <option *ngFor="let nod of noOfDays | keyvalue" [ngValue]="nod.value">{{nod.key}}
              </option>
            </select>
          </span>
        </div>
        <div class="table-scroll">
          <table class="table table-sm ">
            <thead>
              <tr>
                <th>Consultant</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cch of ccptReportCOCH ">
                <td>{{cch.consultantName || 'NA'}}</td>
                <td>{{cch.description || 'NA'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header bg-dark text-clr-white">Client Call History
          <span class="pull-right">
            <select class="form-control form-control-sm" name="cp" #t [(ngModel)]="clchChoosenDays"
              (change)="clchGetAllByDays()">
              <option *ngFor="let nod of noOfDays | keyvalue" [ngValue]="nod.value">{{nod.key}}
              </option>
            </select>
          </span>
        </div>
        <div class="table-scroll">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Client</th>
                <th>Position Code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cch of ccptReportCLCH">
                <td>{{cch.clientName || 'NA'}}</td>
                <td>{{cch.clientPositionCode || 'NA'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
      </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}
    </ngb-alert>
    <hr />
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
          </div>
          <app-timeline></app-timeline>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-default mb-3">
          <div class="card-header">
            <i class="fa fa-bell fa-fw"></i> Notifications card
          </div>
          <app-notification></app-notification>
        </div>
  
        <app-chat></app-chat>
      </div>
    </div> -->
  </div>
</div>