// .table-fixed {
//     tbody {
//       height: 10.5em;
//       overflow-y: auto;
//       overflow-x: hidden;
//     }
//     thead,
//     tbody,
//     tr,
//     td,
//     th {
//       display: block;
//     }
//   }
.table-scroll{
    height: 10em; 
    overflow-y: scroll
}
.text-clr-white{
    color: white
}