.my-custom-scrollbar {
  position: relative;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.table-scroll {
  height: 10em;
  overflow-y: scroll;
}
.ht-30 {
  height: 30em !important;
}
.text-clr-white {
  color: white;
}
.word-break
{
 word-break: break-all;
}
.padding-top {
  padding-top: 60px;
}
.link:hover {
  cursor: pointer;
}
.link-style:hover {
  color: blue;
  text-decoration: underline;
}
.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: #c1c1c1;
  }
}
.table-overflow {
  position: relative;
  height: 458px;
  overflow-y: scroll;
}
.table-overflow-l {
  position: relative;
  height: 458px;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}
.fa-position {
  position: absolute;
  margin-left: 158px;
  margin-top: -18px;
  color: #2af72a;
}
