<div [@routerTransition]>
  <app-page-header [icon2]="'fa-filter'" [heading2]="'Consultant Status'" [icon1]="'fa-user'"
    [heading1]="'Administration'"></app-page-header>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"><strong>Total No of records : {{consultantStatusList.length}}</strong></div>
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2">
        <table class="table table-hover table-striped">
          <tbody>
            <tr *ngFor="let csl of consultantStatusList |  filter : 'description' :currSearchTxt ; let i = index">
              <td (click)="readOnlyEnable(csl)" (dblclick)="editClientApplicationStatus(csl)">
                {{csl.description}}</td>
              <td>
                {{csl.code}}
              </td>
              <td class="table-data-padding"><span class="fa fa-trash pull-right"
                  (click)="open(content,csl.code)"></span>
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Consultant Status</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete ? &hellip;</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="deleteCSRecord()">Ok</button>
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <form name="form" id="consultantStatusForm" (ngSubmit)="f.form.valid && createConsultantStatus(f)" #f="ngForm"
        novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>Code<span class="required">*</span></label>
              <input class="form-control" maxlength="3" [readonly]="readOnlyForm == 'R' || readOnlyForm == 'U'"
                [(ngModel)]="consultantStatusModel.code" name="code"
                [ngClass]="{'is-invalid': f.submitted && code.invalid}" #code="ngModel" required>
              <div class="invalid-feedback">
                code is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Description<span class="required">*</span></label>
              <textarea cols="10" rows="10" class="form-control" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="consultantStatusModel.description" name="decription"
                [ngClass]="{'is-invalid': f.submitted && description.invalid}" #description="ngModel"
                required></textarea>
              <div class="invalid-feedback">
                description is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-8">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="updateConsultantStatus(f)">Update</button>
            <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button>
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3">Cancel</button>

            <!-- <span *ngIf="formButtonsToggler;else toggleButtons">
              <button type="submit" id="add" class="btn btn-secondary ml-3">Add</button>
            </span>
            <ng-template #toggleButtons>
              <span *ngIf="editButtonToggler;else toggleEdit">
                <button type="button" id="update" class="btn btn-secondary ml-2" (click)="editableForm()">Edit</button>
              </span>
              <ng-template #toggleEdit>
                <button type="submit" id="update" class="btn btn-secondary ml-2"
                  (click)="updateConsultantStatus(f)">Update</button>
              </ng-template>
            </ng-template>
            <button type="button" id="cancel" (click)="cancelForm(f)" class="btn btn-secondary ml-3">Cancel</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>

</div>