<div [@routerTransition]>
  <app-page-header [icon2]="'fa-filter'" [heading2]="'Consultant Status'" [icon1]="'fa-sticky-note'" [heading1]="'Metadata'"></app-page-header>
  <div class="spinner padding-top justify-content-md-center" *ngIf="!listReturned">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="row" *ngIf="listReturned">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 tableFixHead" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <tbody>
            <tr *ngFor="let csl of consultantStatusList.list | paginate: paginateConfig ; let i = index"
              (click)="setModel(csl.id)">
              <td>
                {{csl.description}}</td>
              <td>
                {{csl.code}}
              </td>
              <td>
                {{csl.statusType}}
              </td>
              <!-- <td width="100">
                <app-action [trashContent]="trashContent" [id]="csl.id" [isTrash]="trash" (trash)="open($event)"></app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 justify-content-center mb-5" *ngIf="consultantStatusList.noOfRecords > properties.ITEMSPERPAGE">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> 
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="consultantStatusForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
        <div class="row text-center">
          <div class="col-md-12 form-group">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate">Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">Update</button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button> -->
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == '' || enableButtonType == 'U'">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>

            <span class="pull-right" *ngIf="showAction && readOnlyForm =='R'">
                <div class="dropdown theme-dropdown clearfix" placement="bottom-right" ngbDropdown>
                    <!-- <button class="btn btn-secondary" >
                        Dropdown
                    </button> -->
                    <i class="fa fa-bars" ngbDropdownToggle></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <a class="dropdown-item drop-list" (click)="enableFormEditable()">Edit</a>
                        <a class="dropdown-item drop-list" (click)="cancelForm(f)">New</a>
                        <a class="dropdown-item drop-list" (click)="open(model.id, trashContent)">Delete</a>
                    </div>
                </div> 
            </span> </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Code<span class="required">*</span></label>
              <input class="form-control" maxlength="30" [readonly]="readOnlyForm == 'R' || readOnlyForm == 'U'"
                [(ngModel)]="model.code" name="code" [ngClass]="{'is-invalid': f.submitted && code.invalid}"
                #code="ngModel" required>
              <div class="invalid-feedback">
                code is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Status Type<span class="required">*</span></label>



              <select class="form-control" name="statustype" [disabled]="readOnlyForm == 'R'" [(ngModel)]="model.statusType"
                [ngClass]="{ 'is-invalid': f.submitted && statustype.invalid }" #statustype="ngModel" required>
                <option *ngFor="let stl of properties.STATUS" [ngValue]="stl">
                  {{ stl }}
                </option>
              </select> 
              <div class="invalid-feedback">
                Status Type is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                <label>Order<span class="required">*</span></label>
                <input type="number" class="form-control" [readonly]="readOnlyForm == 'R' "
                  [(ngModel)]="model.ordr" name="order"
                  [ngClass]="{'is-invalid': f.submitted && order.invalid}" #order="ngModel" required>
                <div class="invalid-feedback">
                  order is mandatory
                </div>
              </div>
            </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description<span class="required">*</span></label>
              <textarea cols="10" rows="10" class="form-control" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.description" name="decription"
                [ngClass]="{'is-invalid': f.submitted && description.invalid}" #description="ngModel"
                required></textarea>
              <div class="invalid-feedback">
                description is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate">Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">Update</button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button> -->
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == '' || enableButtonType == 'U'">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{properties.CON_STATUS}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{properties.CONFIRM_DELETE}} ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
