<div [@routerTransition]>
  <app-page-header [icon1]="'fa-users'" [heading1]="'Consultants'"></app-page-header>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"><input type="text" class="form-control" placeholder="search..." [(ngModel)]="currSearchTxt" /></div>
        <div class=" col-md-6 ">
          <div class="row">
            <input type="text" [(ngModel)]="idToActivate" class="form-control col-md-6" placeholder="Consultant ID" />
            <button class="btn btn-secondary ml-2" (click)="activateId()" type="button">Activate</button>
          </div>
        </div>
      </div>
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar  mt-2" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Phone
              </th>
              <th>
                Experience
              </th>
              <!-- <th width="140">
                <span class="pull-right">Action</span>
              </th> -->
            </tr>
          </thead>
          <tbody class="overflow-ele-scroll ">
            <tr
              *ngFor="let cl of consultantList| filter: 'fullname':currSearchTxt | paginate: { itemsPerPage: 20, currentPage: page } ; let i = index"
              (click)="setModel(cl.id)"
              (dblclick)="dblSetModel()"
              [ngClass]="!cl.isProfileCompleted ? 'bl-red' : 'bl-trans'"
            >
              <td class="table-data-padding ">
                <dl>
                  <dt>{{ cl.fullname }}</dt>
                  <dd data-toggle="tooltip" title="{{ cl.skills }}">
                    {{ cl.skills != null ? (cl.skills.length > 30 ? (cl.skills | slice: 0:30) + ' ... ' : cl.skills) : '' }}
                  </dd>
                </dl>
              </td>
              <td>
                {{ cl.phone }}
              </td>
              <td>{{ cl.experienceYrs != null ? cl.experienceYrs + ' years - ' + cl.experienceMonths + ' months' : '' }}</td>
              <!--  <input type="file" (change)="fileChange($event)" > <span class="fa fa-upload pull-right"></span> -->
              <!-- <td width="140">
                <app-action [trashContent]="trashContent" [uploadContent]="uploadContent"
                  [downloadContent]="downloadContent" [id]="cl.id" [isTrash]="trash" [isUpload]="upload"
                  [isDownload]="download" (upload)="open($event)" (download)="open($event)" (trash)="open($event)">
                </app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 justify-content-center mb-5">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        <!-- <ngb-pagination
          [collectionSize]="consultantListLength"
          [(page)]="page"
          [ellipses]="false"
          (pageChange)="pageChange($event)"
          [maxSize]="pageSize"
          [rotate]="true"
          [boundaryLinks]="true"
        >
        </ngb-pagination> -->
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
        <div class="row text-center">
          <div class="col-md-12 form-group">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
            >
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2" (click)="update(f)">
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">
              Edit
            </button> -->
            <button type="button" (click)="cancelForm(f)" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>

            <span class="pull-right" *ngIf="showAction">
              <div class="form-group">
                <select
                  class="form-control"
                  [(ngModel)]="action"
                  name="sel1"
                  #sel1="ngModel"
                  (change)="actions(action, trashContent, uploadContent, downloadContent, f)"
                >
                  <option [ngValue]="null" hidden selected>Choose action</option>
                  <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                    {{ al.key }}
                  </option>
                </select>
              </div>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Full Name<span class="required">*</span></label>
              <input
                class="form-control"
                name="fullname"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.fullname"
                [ngClass]="{ 'is-invalid': f.submitted && fullname.invalid }"
                #fullname="ngModel"
                #consultantName
                (keyup)="transformTitleCase(consultantName)"
                required
              />
              <div class="invalid-feedback">
                fullname is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>E-Mail</label>
              <!-- ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" -->
              <input
                class="form-control"
                name="email"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.email"
                #email="ngModel"
                type="email"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <!--pattern="/^-?\d+\.?\d*$/"
                onKeyPress="if(this.value.length==12) return false;" -->
              <label>Phone</label
              ><input
                class="form-control"
                name="phone"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.phone"
                maxlength="13"
                onKeyPress="if(this.value.length==13) return false;"
                #phone="ngModel"
                type="tel"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Gender<span class="required">*</span></label>
              <select
                class="form-control"
                name="gender"
                [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="model.gender"
                [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }"
                #gender="ngModel"
                required
              >
                <option *ngFor="let gl of genderList" [ngValue]="gl">{{ gl }}</option>
              </select>
              <div class="invalid-feedback">
                gender is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-provide="datepicker">
              <label>Date of Birth</label>
              <input
                type="date"
                class="form-control"
                name="dob"
                [(ngModel)]="model.dob"
                [ngClass]="{ 'is-invalid': f.submitted && dob.invalid }"
                #dob="ngModel"
                [readonly]="readOnlyForm == 'R'"
              />
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Highest Education</label>
              <input
                class="form-control"
                name="highesteducation"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.highestEducation"
                #highesteducation="ngModel"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Passout Year</label>
              <input
                class="form-control"
                name="passoutyear"
                [readonly]="readOnlyForm == 'R'"
                type="number"
                [(ngModel)]="model.passoutYear"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Consultant Status<span class="required">*</span></label>
              <select
                class="form-control"
                name="constat"
                [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="model.conStatus"
                [ngClass]="{ 'is-invalid': f.submitted && constat.invalid }"
                #constat="ngModel"
                required
              >
                <option *ngFor="let cs of consultantStatusList" [ngValue]="cs.code"> {{ cs.description }}</option>
              </select>
              <div class="invalid-feedback">
                consultant status is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pb-2">
            <input type="checkbox" class="" [(ngModel)]="isFresher" name="interviewCheckbox" />&nbsp;<label>Fresher</label>
          </div>
        </div>
        <div *ngIf="!isFresher">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Current Company</label>
                <input
                  type="text"
                  name="currentCompany"
                  class="form-control"
                  [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.currentCompany"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Current Location</label>
                <input
                  type="text"
                  name="currentLocation"
                  [readonly]="readOnlyForm == 'R'"
                  class="form-control"
                  [(ngModel)]="model.currentLocation"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Current CTC</label>
                <input
                  type="text"
                  name="currentCTC"
                  [readonly]="readOnlyForm == 'R'"
                  class="form-control"
                  [(ngModel)]="model.currentCTC"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Experience</label>
                <div class="form-inline">
                  <input
                    type="text"
                    name="expyears"
                    class="form-control col-md-4"
                    [readonly]="readOnlyForm == 'R'"
                    [(ngModel)]="model.experienceYrs"
                    min="0"
                    placeholder="Years"
                  />
                  &nbsp;<span>/</span>&nbsp;<input
                    type="text"
                    class="form-control col-md-5"
                    name="expmonths"
                    [readonly]="readOnlyForm == 'R'"
                    [(ngModel)]="model.experienceMonths"
                    min="0"
                    max="11"
                    placeholder="Months"
                    (onkeyup)="imposeMinMax(this)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Current Job Title</label>
                <input
                  type="text"
                  name="currentJobTitle"
                  [readonly]="readOnlyForm == 'R'"
                  class="form-control"
                  [(ngModel)]="model.currentJobTitle"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Current Functional Area</label>
                <input
                  type="text"
                  name="currentFunctionalArea"
                  [readonly]="readOnlyForm == 'R'"
                  class="form-control"
                  [(ngModel)]="model.currentFunctionalArea"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Current Industry</label>
                <input
                  type="text"
                  name="currentIndustry"
                  [readonly]="readOnlyForm == 'R'"
                  class="form-control"
                  [(ngModel)]="model.currentIndustry"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Experience in Current Job</label>
                <div class="form-inline">
                  <input
                    type="text"
                    name="yearsInCurrentJob"
                    class="form-control col-md-4"
                    [readonly]="readOnlyForm == 'R'"
                    [(ngModel)]="model.yearsInCurrentJob"
                    min="0"
                    placeholder="Years"
                  />&nbsp;<span>/</span>&nbsp;<input
                    type="text"
                    class="form-control col-md-5"
                    name="monthsInCurrentJob"
                    [readonly]="readOnlyForm == 'R'"
                    [(ngModel)]="model.monthsInCurrentJob"
                    min="0"
                    max="12"
                    placeholder="Months"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Notice period</label>
                <input
                  type="text"
                  name="noticePeriod"
                  [readonly]="readOnlyForm == 'R'"
                  class="form-control"
                  [(ngModel)]="model.noticePeriod"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Expected CTC</label>
              <input
                type="text"
                name="expectedCTC"
                [readonly]="readOnlyForm == 'R'"
                class="form-control"
                [(ngModel)]="model.expectedCTC"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Prefer Location</label>
              <input
                class="form-control"
                name="prefferedLocation"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.prefferedLocation"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Skills</label>
              <textarea
                class="form-control"
                cols="10"
                rows="10"
                name="skills"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.skills"
              >
              </textarea>
            </div>
          </div>
          <div class="row" *ngIf="model.properties.length > 0">
            <div class="col-md-12 ml-3">
              <div class="form-group">
                <label>Additional Properties</label>
                <div class="row" *ngFor="let ap of model.properties; let i = index">
                  <div class="col-md-5">
                    <input
                      type="text"
                      [(ngModel)]="ap.name"
                      class="form-control"
                      name="addPropName{{ i }}"
                      [readonly]="readOnlyForm == 'R'"
                    />
                  </div>
                  <div class="col-md-5">
                    <input
                      type="text"
                      [(ngModel)]="ap.value"
                      class="form-control"
                      name="addPropValue{{ i }}"
                      [readonly]="readOnlyForm == 'R'"
                    />
                  </div>
                  <div class="col-md-2">
                    <i
                      class="fa fa-minus"
                      aria-hidden="true"
                      id="decrease"
                      *ngIf="enableButtonType != 'E'"
                      (click)="propertiesListIncrement($event.target, i)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea
                class="form-control"
                name="description"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.description"
                rows="10"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Additional Properties</label>
              <div class="row">
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="apName" class="form-control" name="apName" [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue" [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-2">
                  <i
                    class="fa fa-plus"
                    aria-hidden="true"
                    id="increase"
                    *ngIf="enableButtonType != 'E'"
                    (click)="propertiesListIncrement($event.target, 0)"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-12 form-group">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
            >
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2" (click)="update(f)">
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">
                Edit
              </button> -->
            <button type="button" (click)="cancelForm(f)" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>

            <span class="pull-right" *ngIf="showAction">
              <div class="form-group">
                <select
                  class="form-control"
                  [(ngModel)]="action"
                  name="sel1"
                  #sel1="ngModel"
                  (change)="actions(action, trashContent, uploadContent, downloadContent, f)"
                >
                  <option [ngValue]="null" hidden selected>Choose action</option>
                  <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                    {{ al.key }}
                  </option>
                </select>
              </div>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Consultant</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #downloadContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Consultant {{ urlConstants.DownloadFilesMsg }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="model.files.length > 0; else emptyMsg">
    <table class="table">
      <thead>
        <th>File Name</th>
        <th>Description</th>
        <th>Action</th>
      </thead>
      <tbody *ngFor="let fl of model.files">
        <td>{{ fl.fileName }}</td>
        <td>{{ fl.Description }}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" (click)="downloadFile(fl.id)">Download</button>
        </td>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #emptyMsg>
  <h3 class="text-center">No Files to download</h3>
</ng-template>
<ng-template #uploadContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ urlConstants.UploadFilesMsg }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="file" ng2FileSelect [uploader]="uploader" />
    <textarea class="form-control mt-3" placeholder="comments" cols="5" rows="5" [(ngModel)]="comments"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="uploadFiles()">Upload</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
