<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Consultant'"></app-page-header>
    <div class="row">
        <div class="col-md-6 table-fixed">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <!-- <thead>
                        <tr>
                            <th>Full Name</th>
                        </tr>
                    </thead> -->
                    <tbody class="overflow-ele-scroll">
                        <tr *ngFor="let cl of consultantList">
                            <td (click)="readOnlyEnable(cl)" (dblclick)="consultantEdit(cl)">{{cl.fullname}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="consultantModel.fullname">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="consultantModel.email">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="consultantModel.phone">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Gender</label>
                        <div *ngIf="readOnlyForm; else elseBlock3">
                            <input class="form-control" readonly [(ngModel)]="consultantModel.gender">
                        </div>
                        <ng-template #elseBlock3>
                            <select class="form-control" [(ngModel)]="consultantModel.gender">
                                <option *ngFor="let gl of genderList" [ngValue]="gl">{{gl}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group" data-provide="datepicker">
                        <label>Date of Birth</label>
                        <div *ngIf="readOnlyForm; else elseBlock4">
                            <input class="form-control" readonly [(ngModel)]="consultantModel.dob">
                        </div>
                        <ng-template #elseBlock4>
                            <input type="date" class="form-control" [(ngModel)]="consultantModel.dob">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Expected CTC</label>
                        <input type="number" [readonly]="readOnlyForm" class="form-control"
                            [(ngModel)]="consultantModel.expectedSalary">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Qualification</label>
                        <textarea rows="8" class="form-control" [readonly]="readOnlyForm"
                            [(ngModel)]="consultantModel.qualification"></textarea>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Experience</label>
                        <div class="form-inline">
                            <input type="number" class="form-control col-md-2" [readonly]="readOnlyForm"
                                [(ngModel)]="consultantModel.experienceYrs"
                                placeholder="years">&nbsp;<span>/</span>&nbsp;<input type="number"
                                class="form-control col-md-3" [readonly]="readOnlyForm"
                                [(ngModel)]="consultantModel.experienceMonths" placeholder="months">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Skills</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="consultantModel.skills">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Passout Year</label>
                        <input class="form-control" [readonly]="readOnlyForm" type="number"
                            [(ngModel)]="consultantModel.passoutYear">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Current Location</label>
                        <input class="form-control" [readonly]="readOnlyForm"
                            [(ngModel)]="consultantModel.currentLocation">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Consultant Status</label>
                        <div *ngIf="readOnlyForm; else elseBlock">
                            <input class="form-control" readonly [(ngModel)]="consultantModel.consultantStatusCode">
                        </div>
                        <ng-template #elseBlock>
                            <select class="form-control" [(ngModel)]="consultantModel.consultantStatusCode">
                                <option *ngFor="let consultantStatus of consultantStatusList"
                                    [ngValue]="consultantStatus.code">{{consultantStatus.description}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

            </div>
            <div class="row">

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" [readonly]="readOnlyForm"
                            [(ngModel)]="consultantModel.description" rows="10"></textarea>
                    </div>
                </div>

            </div>

            <div class="row text-center">
                <div class="col-md-8">
                    <span *ngIf="formButtonsToggler;else toggleButtons">
                        <button type="button" id="add" class="btn btn-secondary ml-3"
                            (click)="createConsultant()">Add</button>
                    </span>
                    <ng-template #toggleButtons>
                        <span *ngIf="editButtonToggler;else toggleEdit">
                            <button type="button" id="update" class="btn btn-secondary ml-2"
                                (click)="editableForm()">Edit</button>
                        </span>
                        <ng-template #toggleEdit>
                            <button type="button" id="update" class="btn btn-secondary ml-2"
                                (click)="updateConsultant()">Update</button>
                        </ng-template>
                        <button type="button" id="delete" class="btn btn-secondary ml-2"
                            (click)="deleteConsultant()">Delete</button>
                    </ng-template>
                    <button type="button" id="cancel" (click)="cancelForm()"
                        class="btn btn-secondary ml-3">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>