.required {
  color: red;
}
.bl-red{
  border-left: 10px solid red;
}
.bl-green{
  border-left: 10px solid green;
}
.my-custom-scrollbar {
  position: relative;
  height: 31.5em;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  .padding-top{
   padding-top: 60px;
 }
 .dropdown-toggle::after{
  display:none;
}
.drop-list:hover{
  cursor: pointer;
}

