.table-fixed {
  tbody {
    height: 31.5em;
    overflow-y: auto;
  }
  thead,
  tbody,
  tr,
  td,
  th {
    display: block;
  }
}
.required {
  color: red;
}
.border-left-red{
  border-left: 6px solid red;
}
.border-left-trans{
  border-left: 6px solid transparent;
}
