<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Login Setup'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Infosys</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" [(ngModel)]="loginSetupModel.username">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" [(ngModel)]="loginSetupModel.password">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Token</label>
                        <input class="form-control" [(ngModel)]="loginSetupModel.token">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Role</label>
                        <input class="form-control" [(ngModel)]="loginSetupModel.role">
                    </div>
                </div>
                <div class="col-md-8 mt-4">
                    <button type="button" class="btn btn-secondary"  (click)="submit()">Add</button>
                </div>
            </div>

        </div>
    </div>

</div>