<div [@routerTransition]>
  <app-page-header [icon1]="'fa-paper-plane'" [heading1]="'Client Applications'"></app-page-header>
  <ng-template #spinner>
    <div class="spinner padding-top justify-content-md-center">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </ng-template>
  <div class="row " *ngIf="listReturned == true; else spinner">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"><input type="text" class="form-control" placeholder="search..." [(ngModel)]="currSearchTxt" /></div>

        <div class="col-md-6" *ngIf="currSearchTxt.length > 0">
          <b>Filtered list count:{{ (clientApplicationList | filter: currSearchTxt).length }}</b>
        </div>
        <div class="col-md-6" *ngIf ="loggedInRole=='Admin' && appIds.length > 0">
            <button type="button"  class="btn btn-secondary ml-2" (click)="sendIds(appIds ,sendMailContent)">
                Send Mail
              </button>
        </div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th *ngIf="loggedInRole == 'Admin'"></th>
              <th>
                Consultant
              </th>
              <th>
                Client Pos
              </th>
              <th>
                Status
              </th>
              <th>
                Creator
              </th>
              <!-- <th>
                      <span class="pull-right">Action</span>
                  </th> -->
            </tr>
          </thead>
          <tbody class="overflow-ele-scroll">
            <tr
              class="table-data-padding"
              *ngFor="
                let cal of clientApplicationList | filter: currSearchTxt | paginate: { itemsPerPage: 20, currentPage: page };
                let i = index">
              <td *ngIf="loggedInRole == 'Admin'">
                  <div class="checkbox">
                      <label>
                          <input class="check" type="checkbox" value="" (change)="selectApplications($event,cal.id)">
                      </label>
                  </div>
              </td>
              <td (click)="setModel(cal.id)">{{ cal.consultant.fullname }}</td>
              <td (click)="setModel(cal.id)">{{ cal.clientPosition.generatedCode }}</td>

              <td (click)="setModel(cal.id)">{{ cal.status.code }}</td>
              <td (click)="setModel(cal.id)">{{ cal.creator.fullname }}</td>

              <!-- <td width="140">
                  <app-action [trashContent]="trashContent" [uploadContent]="uploadContent"
                  [downloadContent]="downloadContent" [id]="cal.id" [isTrash]="trash" [isUpload]="upload"
                  [isDownload]="download" (upload)="open($event)" (download)="open($event)" (trash)="open($event)">
                </app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 justify-content-center mb-5">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        <!-- <ngb-pagination
          [collectionSize]="caListLength"
          [(page)]="page"
          [ellipses]="false"
          (pageChange)="pageChange($event)"
          [maxSize]="pageSize"
          [rotate]="true"
          [boundaryLinks]="true"
        >
        </ngb-pagination> -->
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientApplicationForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
        <div class="row text-center">
          <div class="col-md-12 form-group">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate" >
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2" (click)="update(f)">
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button> -->
            <button type="button" (click)="cancelForm(f)" *ngIf="enableButtonType == ''||enableButtonType == 'U'" class="btn btn-secondary ml-3">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>
            <span class="pull-right" *ngIf="showAction && readOnlyForm == 'U'">
                <div class="dropdown theme-dropdown clearfix" placement="bottom-right" ngbDropdown>
                    <!-- <button class="btn btn-secondary" >
                        Dropdown
                    </button> -->
                    <i class="fa fa-bars" ngbDropdownToggle></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                        <a class="dropdown-item drop-list" (click)="enableFormEditable()">Edit</a>
                        <a class="dropdown-item drop-list" (click)="cancelForm(f)">New</a>
                        <a class="dropdown-item drop-list" (click)="open(model.id, uploadContent)">File Upload</a>
                        <!-- <a class="dropdown-item drop-list" (click)="getBodyMail(bodyMail)">Body Mail</a> -->
                        <a class="dropdown-item drop-list" *ngIf="model.status.description=='Interview Scheduled'" (click)="getInterviewDetails(model.id,sendMailContent)">Send Interview Schedule</a>
                        <a class="dropdown-item drop-list" (click)="open(model.id, trashContent)">Delete</a>
                    </div>
                </div> 
            </span>
          </div>
        </div>
        <div *ngIf="readOnlyForm == 'U'; else notRead">
          <table class="table table-borderless  table-striped">
            <tbody>
              <tr *ngIf="model?.clientPosition?.generatedCode">
                <th width="200px">Client Position</th>
                <td>{{ model.clientPosition.generatedCode }}</td>
              </tr>
              <tr *ngIf="model?.consultant?.fullname">
                <th>Consultant</th>
                <td>{{ model.consultant.fullname }}</td>
              </tr>
              <tr *ngIf="model?.status?.description">
                <th>Application Status</th>
                <td>{{ model.status.description }}</td>
              </tr>
              <tr *ngIf="model?.sentOn">
                <th>Sent On</th>
                <td>{{ model.sentOn }}</td>
              </tr>
              <tr *ngIf="model.interviewLocation">
                <th>Interview Date</th>
                <td>{{ model.interviewDate }}</td>
              </tr>
              <tr *ngIf="model.interviewLocation ">
                <th>Interview Location</th>
                <td>{{ model.interviewLocation }}</td>
              </tr>
              <tr *ngIf="model.interviewTime">
                <th>Interview Time</th>
                <td>{{ model.interviewTime }}</td>
              </tr>
              <tr *ngIf="model.interviewMode">
                <th>Interview Mode</th>
                <td>{{ model.interviewMode }}</td>
              </tr>
              <tr *ngIf="model.description">
                <th>Description</th>
                <td>
                  <p [innerHTML]="model.description"></p>
                </td>
              </tr>
              <tr *ngFor="let ap of model.properties">
                <th>{{ap.name}}</th>
                <td>{{ap.value}}</td>
              </tr>
              <tr>
                <th>CRF</th>
                <td><span *ngIf="isCRF; else noCRF" class="crf" (click)="downloadFile(crfFile.id)">{{ crfFile.fileName }}</span>
                  <ng-template #noCRF>
                    <button class="btn btn-secondary ml-2" type="button" (click)="uploadCRF(uploadContent)">Upload CRF</button>
                  </ng-template></td>
              </tr>
              <tr *ngFor="let fl of model.files">
                  <th>Files</th>
                  <td class="crf" (click)="downloadFile(fl.id)">{{fl.fileName}}</td>
                </tr>
            </tbody>
          </table>
        </div>
        <ng-template #notRead>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Client Position<span class="required">*</span></label>
                  <span *ngIf="readOnlyForm == 'U' || readOnlyForm == ''">
                    <select
                      class="form-control"
                      name="cp"
                      [(ngModel)]="model.cpId"
                      [ngClass]="{ 'is-invalid': f.submitted && cp.invalid }"
                      #cp="ngModel"
                      (change)="setLocation($event.target.value)"
                      required
                    >
                      <option *ngFor="let cpl of clientPositionList" [ngValue]="cpl.id">{{ cpl.name }} </option>
                    </select>
                    <div class="invalid-feedback">
                      Client Position is mandatory
                    </div>
                  </span>
                  <span *ngIf="readOnlyForm == 'R'">
                    <input
                      type="text"
                      class="form-control"
                      name="generatedcode"
                      #generatedcode="ngModel"
                      readonly
                      [(ngModel)]="cpGeneratedCode"
                    />
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Consultant<span class="required">*</span></label>
                  <select
                    class="form-control"
                    [disabled]="readOnlyForm == 'R'"
                    [(ngModel)]="model.consultantId"
                    name="con"
                    [ngClass]="{ 'is-invalid': f.submitted && con.invalid }"
                    #con="ngModel"
                    required
                  >
                    <option *ngFor="let cl of consultantList" [ngValue]="cl.id">{{ cl.name }}</option>
                  </select>
                  <div class="invalid-feedback">
                    Consultant is mandatory
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Client Application Status<span class="required">*</span></label>
                  <select
                    class="form-control"
                    name="cas"
                    [disabled]="readOnlyForm == 'R'"
                    [(ngModel)]="model.caStatus"
                    [ngClass]="{ 'is-invalid': f.submitted && cas.invalid }"
                    #cas="ngModel"
                    required
                  >
                    <option *ngFor="let casl of clientApplicationStatusList" [ngValue]="casl.code">
                      {{ casl.description }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Client Apllication Status is mandatory
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Creator<span class="required">*</span></label>
                  <select
                    class="form-control"
                    name="creator"
                    [disabled]="readOnlyForm == 'R'"
                    [(ngModel)]="model.creatorId"
                    [ngClass]="{ 'is-invalid': f.submitted && cas.invalid }"
                    required
                  >
                    <option *ngFor="let rl of recruiterList" [ngValue]="rl.id">
                      {{ rl.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Client Apllication Status is mandatory
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Sent On</label>
                <input
                  type="date"
                  class="form-control"
                  name="senton"
                  #senton="ngModel"
                  [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.sentOn"

                />
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
              <div class="col-md-6 mt-4" *ngIf="readOnlyForm == ''">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-provide="datepicker">
                  <input class="mt-2" type="checkbox" (change)="checkInterviewSchedule()" [(ngModel)]="isInterviewScheduled" name="interviewCheckbox" />&nbsp;<small
                    >Interview Scheduled</small
                  >
                  <div *ngIf="isInterviewScheduled">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="pt-2">Interview Date</label>
                        <input
                          type="date"
                          class="form-control"
                          name="intDate"
                          #intDate="ngModel"
                          [readonly]="readOnlyForm == 'R'"
                          [(ngModel)]="model.interviewDate"
                        />
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="pt-2">Interview Time</label>
                        <input
                          type="time"
                          class="form-control"
                          name="intTime"
                          #intTime="ngModel"
                          [readonly]="readOnlyForm == 'R'"
                          [(ngModel)]="model.interviewTime"
                        />
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="pt-2">Interview Location</label>
                        <input class="form-control" name="loc" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.interviewLocation" />
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="pt-2">Interview Mode</label>
                        <input class="form-control" name="mode" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.interviewMode" />
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>.
              <div class="row" *ngIf="model.properties!=null">
                <div class="col-md-12 ml-3">
                  <div class="form-group">
                    <label>Additional Properties</label>
                    <div class="row" *ngFor="let ap of model.properties; let i = index">
                      <div class="col-md-5">
                        <input
                          type="text"
                          [(ngModel)]="ap.name"
                          class="form-control"
                          name="addPropName{{ i }}"
                          [readonly]="readOnlyForm == 'R'"
                        />
                      </div>
                      <div class="col-md-5">
                        <input
                          type="text"
                          [(ngModel)]="ap.value"
                          class="form-control"
                          name="addPropValue{{ i }}"
                          [readonly]="readOnlyForm == 'R'"
                        />
                      </div>
                      <div class="col-md-2">
                        <i
                          class="fa fa-minus"
                          aria-hidden="true"
                          id="decrease"
                          *ngIf="enableButtonType != 'E'"
                          (click)="propertiesListIncrement($event.target, i)"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <angular-editor [(ngModel)]="model.description" name="description" [config]="config"></angular-editor>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row">
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apName" class="form-control" name="apName" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-plus"
                        aria-hidden="true"
                        id="increase"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, 0)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="model?.files?.length>0">
              <div class="col-md-12">
                <div class="modal-body" >
                  <table class="table">
                    <thead>
                      <th>File Name</th>
                      <th>Description</th>
                      <th>Action</th>
                    </thead>
                    <tbody *ngFor="let fl of model.files">
                      <td>{{ fl.fileName }}</td>
                      <td>{{ fl.Description }}</td>
                      <td>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="downloadFile(fl.id)">Download</button>
                      </td>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </ng-template>
        <div class="row text-center">
          <div class="col-md-12 form-group">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
            >
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2" (click)="update(f)">
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                  (click)="enableFormEditable()">Edit</button> -->
            <button type="button" (click)="cancelForm(f)" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Application</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!-- <ng-template #bodyMail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Application</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-scroll ht-30">
      <table class="table table-sm">
        <tbody>
          <tr *ngIf="bodyMailModel.fullname">
            <th>Name</th>
            <td>{{ bodyMailModel.fullname }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.role">
            <th>Current Role</th>
            <td>{{ bodyMailModel.role }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.experienceYrs">
            <th>Experience</th>
            <td>{{ bodyMailModel.experienceYrs }} - {{ bodyMailModel.experienceMonths }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.currentCTC">
            <th>Current CTC</th>
            <td>{{ bodyMailModel.currentCTC }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.expectedCTC">
            <th>Expected CTC</th>
            <td>{{ bodyMailModel.expectedCTC }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.cpLocation != bodyMailModel.conLocation">
            <th>Client Location</th>
            <td>{{ bodyMailModel.cpLocation }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.conLocation">
            <th>Consultant Location</th>
            <td>{{ bodyMailModel.conLocation }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.noticePeriod">
            <th>Availability</th>
            <td>{{ bodyMailModel.noticePeriod }}</td>
          </tr>
          <tr *ngIf="bodyMailModel.description">
            <th>Description</th>
            <td>{{ bodyMailModel.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->
<ng-template #downloadContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Consultant {{ urlConstants.DownloadFilesMsg }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="model.files.length > 0; else emptyMsg">
    <table class="table">
      <thead>
        <th>File Name</th>
        <th>Description</th>
        <th>Action</th>
      </thead>
      <tbody *ngFor="let fl of model.files">
        <td>{{ fl.fileName }}</td>
        <td>{{ fl.Description }}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" (click)="downloadFile(fl.id)">Download</button>
        </td>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #emptyMsg>
  <h3 class="text-center">No Files to download</h3>
</ng-template>
<ng-template #uploadContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ urlConstants.UploadFilesMsg }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="file" ng2FileSelect [uploader]="uploader" />
    <textarea class="form-control mt-3" placeholder="comments" cols="5" rows="5" [(ngModel)]="comments"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="uploadFiles()">Upload</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #sendMailContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Send Mail</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>E-Mail</label>
      <!-- <ng-multiselect-dropdown [placeholder]="'choose numbers..'" [data]="mailIdForMails" [(ngModel)]="sendEmailModel.to"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
      </ng-multiselect-dropdown>  -->
  
      <!-- 
      (onSelectAll)="onSelectAll($event)" -->
      <!-- <div class="form-group">
          <select
            class="form-control"
            [(ngModel)]="sendTo"
            name="sel1"
            (change)="onItemSelect(sendTo)"
          >
            <option [ngValue]="null" hidden selected>Choose action</option>
            <option *ngFor="let cl of consultantList" [ngValue]="cl">
              {{cl.name}}
            </option>
          </select>
        </div> -->
        <input type="text" [(ngModel)]="sendEmailModel.toEmails" class="form-control" name="to" />
        <label>Cc</label>
        <input type="text" [(ngModel)]="sendEmailModel.cc" class="form-control" name="cc" />
        <label>Bcc</label>
        <input type="text" [(ngModel)]="sendEmailModel.bcc" class="form-control" name="cc" />
      <label>Subject</label>
      <input class="form-control" [(ngModel)]="sendEmailModel.subject" name="sub" />
      <label>Message Body</label>
      <angular-editor [(ngModel)]="sendEmailModel.body" name="tt" [config]="config"> </angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="sendEmailReq()">Send</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
