.my-custom-scrollbar {
  position: relative;
  height: 31.5em;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  .required {
     color: red; 
  }
  .padding-top{
   padding-top: 60px;
 }
 .crf:hover{
  cursor: pointer;
  color:blue;
  text-decoration: underline;
 }
 .checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.dropdown-toggle::after{
  display:none;
}
.drop-list:hover{
  cursor: pointer;
}