<div [@routerTransition]>
  <app-page-header [icon1]="'fa-paper-plane'" [heading1]="'Client Applications'"></app-page-header>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                  <th>
                    Consultant
                  </th>
                  <th>
                    Client Pos
                  </th>
                  <th >
                    Status
                  </th>
                  <th >
                      Creator
                    </th>
                  <th>
                      <span class="pull-right">Action</span>
                  </th>
                </tr>
              </thead>
          <tbody class="overflow-ele-scroll">
            <tr class="table-data-padding" *ngFor="let cal of clientApplicationList |  filter : 'clientPositionId' : currSearchTxt ; let i = index"
              (click)="readOnlyEnable(cal.id)" (dblclick)="editClientApplication(cal)">
              <td>{{cal.consultant.fullname}}</td>
              <td> {{cal.clientPosition.generatedCode}}</td>
              
              <td>{{cal.status.code}}</td>
              <td>{{cal.creator.fullname }}</td>
              
              <td width="100">
                  <app-action [trashContent]="trashContent" [uploadContent]="uploadContent"
                  [downloadContent]="downloadContent" [id]="cal.id" [isTrash]="trash" [isUpload]="upload"
                  [isDownload]="download" (upload)="open($event)" (download)="open($event)" (trash)="open($event)">
                </app-action>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientApplicationForm" (ngSubmit)="f.form.valid&&createClientApplication(f)" #f="ngForm"
        novalidate>
        <div class="row text-center" >
            <div class="col-md-12">
              <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid">Add</button>
              <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                (click)="updateClientApplication(f)">Update</button>
              <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button>
                <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType != 'U'||enableButtonType != 'E'">{{enableButtonType == 'U'||enableButtonType == 'E' ? 'Close' : 'Clear'}}
                </button>  
            </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Client Position<span class="required">*</span></label>
              <select class="form-control" name="cp" [disabled]="readOnlyForm == 'R'" [(ngModel)]="CAModel.cpId"
                [ngClass]="{'is-invalid': f.submitted && cp.invalid}" #cp="ngModel" required>
                <option *ngFor="let cpl of clientPositionList" [ngValue]="cpl.id">{{cpl.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                Client Position is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Consultant<span class="required">*</span></label>
              <select class="form-control" [disabled]="readOnlyForm == 'R'" [(ngModel)]="CAModel.consultantId"
                name="con" [ngClass]="{'is-invalid': f.submitted && con.invalid}" #con="ngModel" required>
                <option *ngFor="let cl of consultantList" [ngValue]="cl.id">{{cl.name}}</option>
              </select>
              <div class="invalid-feedback">
                Consultant is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Client Application Status<span class="required">*</span></label>
              <select class="form-control" name="cas" [disabled]="readOnlyForm == 'R'" [(ngModel)]="CAModel.caStatus"
                [ngClass]="{'is-invalid': f.submitted && cas.invalid}" #cas="ngModel" required>
                <option *ngFor="let casl of clientApplicationStatusList" [ngValue]="casl.code">
                  {{casl.description}}
                </option>
              </select>
              <div class="invalid-feedback">
                Client Apllication Status is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Creator<span class="required">*</span></label>
              <select class="form-control" name="creator" [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="CAModel.creatorId" [ngClass]="{'is-invalid': f.submitted && cas.invalid}" required>
                <option *ngFor="let rl of recruiterList" [ngValue]="rl.id">
                  {{rl.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                Client Apllication Status is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" data-provide="datepicker">
              <input type="checkbox" [(ngModel)]="isInterviewScheduled" name="interviewCheckbox">&nbsp;<small>Interview
                Scheduled</small>
              <div *ngIf="isInterviewScheduled">
                <div class ="row">
                  <div class="col-md-6">
                      <label class='pt-2'>Interview Date</label>
                      <input type="date" class="form-control" name="intDate" #intDate="ngModel"
                        [readonly]="readOnlyForm == 'R'" [(ngModel)]="CAModel.interviewDate">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label class='pt-2'>Interview Time</label>
                      <input type="time" class="form-control" name="intTime" #intTime="ngModel"
                        [readonly]="readOnlyForm == 'R'" [(ngModel)]="CAModel.interviewTime">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                      </div>
                    </div>
                </div>
                <div class ="row">
                    <div class="col-md-6">
                        <label class='pt-2'>Interview Location</label>
                        <input class="form-control" name="loc" [readonly]="readOnlyForm == 'R'"
                          [(ngModel)]="CAModel.interviewLocation">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class='pt-2'>Interview Mode</label>
                        <input class="form-control" name="mode" [readonly]="readOnlyForm == 'R'"
                          [(ngModel)]="CAModel.interviewMode">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="CAModel.properties">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let ap of CAModel.properties;let i=index">
                        <td>
                          <input type="text" [(ngModel)]="ap.name" class="form-control" name="addPropName{{i}}"
                            [readonly]="readOnlyForm == 'R'">
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="ap.value" class="form-control" name="addPropValue{{i}}"
                            [readonly]="readOnlyForm == 'R'">
                        </td>
                        <td>
                          <i class="fa fa-minus" aria-hidden="true" id="decrease" *ngIf="enableButtonType != 'E'"
                            (click)="propertiesListIncrement($event.target,i)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <angular-editor [(ngModel)]="CAModel.description" name="description" [config]="config"></angular-editor>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Additional Properties</label>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <input type="text" [(ngModel)]="apName" class="form-control" name="apName"
                            [readonly]="readOnlyForm == 'R'">
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue"
                            [readonly]="readOnlyForm == 'R'">
                        </td>
                        <td>
                          <i class="fa fa-plus" aria-hidden="true" id="increase" *ngIf="enableButtonType != 'E'"
                            (click)="propertiesListIncrement($event.target,i)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <div class="row text-center" >
          <div class="col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid">Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="updateClientApplication(f)">Update</button>
            <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button>
              <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType != 'U'||enableButtonType != 'E'">{{enableButtonType == 'U'||enableButtonType == 'E' ? 'Close' : 'Clear'}}
              </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Application</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteCARecord()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #downloadContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Client Application {{ urlConstants.DownloadFilesMsg }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table ">
        <thead>
          <th>Reference Type</th>
          <th>Comments</th>
        </thead>
        <tbody *ngFor="let fl of fileList">
          <td>{{ fl.refId }}</td>
          <td>{{ fl.refType }}</td>
          <td>{{ fl.comments }}</td>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <ng-template #uploadContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{ urlConstants.UploadFilesMsg }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input class="form-control" type="file" ng2FileSelect [uploader]="uploader" />
      <textarea class="form-control mt-3" placeholder="comments" cols="5" rows="5" [(ngModel)]="comments"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="uploadFiles()">Upload</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>