<div [@routerTransition]>
  <app-page-header [icon1]="'fa-user'" [heading1]="'Administration'" [icon2]="'fa-id-card'" [heading2]="'Recruiter'">
  </app-page-header>
  <div class="spinner padding-top justify-content-md-center" *ngIf="!listReturned">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="row" *ngIf="listReturned">
    <div class="col-md-7 ">
      <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                  <th>
                    Details
                  </th>
                  <!-- <th>
                    <span class="pull-right">Action</span>
                  </th> -->
                </tr>
              </thead>
          <tbody class="overflow-ele-scroll">
            <tr *ngFor="let rl of recruiterList |  filter : currSearchTxt ; let i = index"
              (click)="setModel(rl.id)">
              <td>
                <dl>
                  <dt> {{rl.fullname}}</dt>
                  <dd>{{rl.address}}</dd>
                </dl>
              </td>
              <!-- <td width="100">
                <app-action [trashContent]="trashContent" [id]="rl.id" [isTrash]="trash" (trash)="open($event)"></app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid&&create(f)" #f="ngForm" novalidate>
          <div class="row text-center">
              <div class="col-md-12 form-group">
                <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate">Add</button>
                <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                  (click)="update(f)">Update</button>
                <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                  (click)="enableFormEditable()">Edit</button> -->
                  <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" 
                  *ngIf="enableButtonType == ''">
                    {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                  </button>
                  
                  <span class="pull-right" *ngIf="showAction">
                      <div class="dropdown theme-dropdown clearfix" placement="bottom-right" ngbDropdown>
                          <!-- <button class="btn btn-secondary" >
                              Dropdown
                          </button> -->
                          <i class="fa fa-bars" ngbDropdownToggle></i>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                              <a class="dropdown-item drop-list" (click)="enableFormEditable()">Edit</a>
                              <a class="dropdown-item drop-list" (click)="open(model.id, trashContent)">Delete</a>
                              <a class="dropdown-item drop-list" (click)="cancelForm(f)">Close</a>
                          </div>
                      </div> 
                  </span>
              </div>
            </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Full Name<span class="required">*</span></label>
              <input class="form-control" name="fullname" [readonly]="readOnlyForm== 'R'"
                [(ngModel)]="model.fullname" [ngClass]="{'is-invalid': f.submitted && fullname.invalid}"
                #fullname="ngModel" #recruiterName (keyup)="transformTitleCase(recruiterName)" required>
              <div class="invalid-feedback">
                fullname is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-provide="datepicker">
              <label>Date of Birth</label>
              <input type="date" class="form-control" name="dob" [(ngModel)]="model.dob"
                [ngClass]="{'is-invalid': f.submitted && dob.invalid}" #dob="ngModel" [readonly]="readOnlyForm == 'R'"
                >
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Gender<span class="required">*</span></label>
              <select class="form-control" name="gender" [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="model.gender" [ngClass]="{'is-invalid': f.submitted && gender.invalid}"
                #gender="ngModel" required>
                <option *ngFor="let gl of genderList" [ngValue]="gl">{{gl}}</option>
              </select>
              <div class="invalid-feedback">
                gender is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label>Role<span class="required">*</span></label>
                <select class="form-control" name="role" [(ngModel)]="model.role"
                  [disabled]="readOnlyForm == 'R'" [ngClass]="{'is-invalid': f.submitted && role.invalid}" #role="ngModel"
                  required>
                  <option *ngFor="let role of rolesList" [ngValue]="role">{{role}}</option>
                </select>
                <div class="invalid-feedback">
                  role is mandatory
                </div>
              </div>
            </div>
        </div>
        <div class="row">  
          <div class="col-md-6">
            <div class="form-group">
              <!--pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==12) return false;" -->
              <label>Phone<span class="required">*</span></label>
              <input class="form-control" name="phone" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.phone" [ngClass]="{'is-invalid': f.submitted && phone.invalid}"
                type="text" #phone="ngModel" required>
              <div class="invalid-feedback">
                phone is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>E-Mail<span class="required">*</span></label>
              <input class="form-control" name="email" type="email" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.email" [ngClass]="{'is-invalid': f.submitted && email.invalid}"
                #email="ngModel" required>
              <div class="invalid-feedback">
                phone is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Alias<span class="required">*</span></label>
                  <input class="form-control" name="alias" type="text" [readonly]="readOnlyForm == 'R'"
                    [(ngModel)]="model.aliasName" [ngClass]="{'is-invalid': f.submitted && alias.invalid}"
                    #alias="ngModel" required>
                  <div class="invalid-feedback">
                    alias name is mandatory
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" cols="10" rows="10" name="address" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.address" [ngClass]="{'is-invalid': f.submitted && address.invalid}"
                #address="ngModel" ></textarea>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="model.properties.length>0">
            <div class="col-md-12" *ngIf="model.properties.length > 0">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row" *ngFor="let ap of model.properties; let i = index">
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.name"
                        class="form-control"
                        name="addPropName{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.value"
                        class="form-control"
                        name="addPropValue{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-minus"
                        aria-hidden="true"
                        id="decrease"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, i)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea
                      class="form-control"
                      name="description"
                      [readonly]="readOnlyForm == 'R'"
                      [(ngModel)]="model.description"
                      rows="10"
                    ></textarea>
                  </div>
                </div>
          </div> 
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row">
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apName" class="form-control" name="apName" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue" [readonly]="readOnlyForm == 'R'" 
                      />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-plus"
                        aria-hidden="true"
                        id="increase"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, 0)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-12 form-group">
                <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate"
>Add</button>
                <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                  (click)="update(f)">Update</button>
                <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                  (click)="enableFormEditable()">Edit</button> -->
                  <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" 
                  *ngIf="enableButtonType == ''">
                    {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                  </button>
              </div>
            </div>
      </form>
    </div>
  </div>
</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Recruiter</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>