<div [@routerTransition]>
  <app-page-header [icon1]="'fa-user'" [heading1]="'Administration'" [icon2]="'fa-id-card'" [heading2]="'Recruiter'">
  </app-page-header>
  <div class="row">
    <div class="col-md-7 ">
      <div class="row">
        <div class="col-md-3"><strong>Total No of records : {{recruiterList.length}}</strong></div>
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2">
        <table class="table table-hover table-striped">
          <tbody class="overflow-ele-scroll">
            <tr *ngFor="let rl of recruiterList |  filter : 'fullname' :currSearchTxt ; let i = index"
              (click)="readOnlyEnable(rl.id)" (dblclick)="recruiterEdit(rl)">
              <td>
                <dl>
                  <dt> {{rl.fullname}}</dt>
                  <dd>{{rl.address || 'NA'}}</dd>
                </dl>
              </td>
              <td><span class="fa fa-trash pull-right" data-toggle="tooltip" title="Delete"
                  (click)="open(content,rl.id)"></span>
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Recruiter</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete ? &hellip;</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="deleteRecruiterRecord()">Ok</button>
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid&&createRecruiter(f)" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Full Name<span class="required">*</span></label>
              <input class="form-control" name="fullname" [readonly]="readOnlyForm== 'R'"
                [(ngModel)]="recruiterModel.fullname" [ngClass]="{'is-invalid': f.submitted && fullname.invalid}"
                #fullname="ngModel" required>
              <div class="invalid-feedback">
                fullname is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" data-provide="datepicker">
              <label>Date of Birth<span class="required">*</span></label>
              <input type="date" class="form-control" name="dob" [(ngModel)]="recruiterModel.dob"
                [ngClass]="{'is-invalid': f.submitted && dob.invalid}" #dob="ngModel" [readonly]="readOnlyForm == 'R'"
                required>
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
              <div class="invalid-feedback">
                date of birth is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Gender<span class="required">*</span></label>
              <select class="form-control" name="gender" [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="recruiterModel.gender" [ngClass]="{'is-invalid': f.submitted && gender.invalid}"
                #gender="ngModel" required>
                <option *ngFor="let gl of genderList" [ngValue]="gl">{{gl}}</option>
              </select>
              <div class="invalid-feedback">
                gender is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Role<span class="required">*</span></label>
              <select class="form-control" name="role" [(ngModel)]="recruiterModel.role"
                [disabled]="readOnlyForm == 'R'" [ngClass]="{'is-invalid': f.submitted && role.invalid}" #role="ngModel"
                required>
                <option *ngFor="let role of rolesList" [ngValue]="role">{{role}}</option>
              </select>
              <div class="invalid-feedback">
                role is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <!--pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==12) return false;" -->
              <label>Phone<span class="required">*</span></label>
              <input class="form-control" name="phone" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="recruiterModel.phone" [ngClass]="{'is-invalid': f.submitted && phone.invalid}"
                type="number" #phone="ngModel" required>
              <div class="invalid-feedback">
                phone is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>E-Mail<span class="required">*</span></label>
              <input class="form-control" name="email" type="email" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="recruiterModel.email" [ngClass]="{'is-invalid': f.submitted && email.invalid}"
                #email="ngModel" required>
              <div class="invalid-feedback">
                phone is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address<span class="required">*</span></label>
              <textarea class="form-control" cols="10" rows="10" name="address" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="recruiterModel.address" [ngClass]="{'is-invalid': f.submitted && address.invalid}"
                #address="ngModel" required></textarea>
              <div class="invalid-feedback">
                address is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="updateRecruiter(f)">Update</button>
            <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button>
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>