<div [@routerTransition]>
  <app-page-header [icon1]="'fa-user'" [heading1]="'Administration'" [icon2]="'fa-inr'" [heading2]="'Payments'"></app-page-header>
  <div class="spinner padding-top justify-content-md-center" *ngIf="!listReturned">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="row" *ngIf="listReturned">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"><input type="text" class="form-control" placeholder="search..." [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 tableFixHead" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>
                Invoice
              </th>
              <th>
                Company
              </th>
              <th>
                Consultant
                <!-- </th>
              <th>
                <span class="pull-right">Action</span>
              </th> -->
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pl of paymentsList.list | paginate: paginateConfig; let i = index" (click)="setModel(pl.id)">
              <td>
                {{ pl.invoiceDate | date }}
              </td>
              <td>
                {{ pl.companyName }}
              </td>
              <td>
                {{ pl.candidateName }}
              </td>
              <!-- <td width="100">
                <app-action [trashContent]="trashContent" [id]="pl.id" [isTrash]="trash" (trash)="open($event)"> </app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
        <div class="col-12 justify-content-center mb-5" *ngIf="paymentsList.noOfRecords > properties.ITEMSPERPAGE">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
    <div class=" col-md-5">
      <form name="form" id="paymentsForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
        <div class="row text-center">
          <div class="col-md-12 form-group">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
            >
              Add
            </button>
            <button
              type="button"
              *ngIf="enableButtonType == 'U'"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
              class="btn btn-secondary ml-2"
              (click)="update(f)"
            >
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button" (click)="enableFormEditable()">
                  Edit
                </button> -->
            <button
              type="button"
              (click)="cancelForm(f)"
              class="btn btn-secondary ml-3"
              *ngIf="enableButtonType == '' || enableButtonType == 'U'"
            >
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>

            <span class="pull-right" *ngIf="showAction && readOnlyForm == 'R'">
              <div class="dropdown theme-dropdown clearfix" placement="bottom-right" ngbDropdown>
                <!-- <button class="btn btn-secondary" >
                                Dropdown
                            </button> -->
                <i class="fa fa-bars" ngbDropdownToggle></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                  <a class="dropdown-item drop-list" (click)="enableFormEditable()">Edit</a>
                  <a class="dropdown-item drop-list" (click)="cancelForm(f)">New</a>
                  <a class="dropdown-item drop-list" (click)="open(model.id, uploadContent)">File Upload</a>
                  <a class="dropdown-item drop-list" (click)="downloadBif()">Download BIF</a>
                  <a class="dropdown-item drop-list" (click)="open(model.id, trashContent)">Delete</a>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group " data-provide="datepicker">
              <label>Invoice Date<span class="required">*</span></label>
              <input
                type="date"
                class="form-control"
                name="invoiceDate"
                [(ngModel)]="model.invoiceDate"
                [ngClass]="{ 'is-invalid': f.submitted && invoiceDate.invalid }"
                #invoiceDate="ngModel"
                [readonly]="readOnlyForm == 'R'"
                (change)="setJoiningDate()"
                required
              />
              <div class="invalid-feedback">
                Invoice Date is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="readOnlyForm == ''">
            <div class="form-group">
              <label>Client Application<span class="required">*</span></label>
              <select
                class="form-control"
                name="cp"
                [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="caId"
                [ngClass]="{ 'is-invalid': f.submitted && cp.invalid }"
                #cp="ngModel"
                (change)="getCPDetails(caId)"
                required
              >
                <option *ngFor="let cal of clientApplicationList" [ngValue]="cal.id">{{ cal.name }} </option>
              </select>
              <div class="invalid-feedback">
                Client Application is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Company Name<span class="required">*</span></label>
              <input
                class="form-control capi"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.companyName"
                name="name"
                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                #name="ngModel"
                required
              />
              <div class="invalid-feedback">
                Company name is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Company Website<span class="required">*</span></label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.companyWebsite"
                name="web"
                [ngClass]="{ 'is-invalid': f.submitted && web.invalid }"
                #web="ngModel"
                required
              />
              <div class="invalid-feedback">
                Company website is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Company Gst<span class="required">*</span></label>
              <input
                class="form-control capi"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.companyGstNum"
                name="companyGstNum"
                [ngClass]="{ 'is-invalid': f.submitted && companyGstNum.invalid }"
                #companyGstNum="ngModel"
                required
              />
              <div class="invalid-feedback">
                Company gst is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Credit Period<span class="required">*</span></label>
              <input
                type="text"
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.creditPeriod"
                name="creditPeriod"
                [ngClass]="{ 'is-invalid': f.submitted && creditPeriod.invalid }"
                #creditPeriod="ngModel"
                required
              />
              <div class="invalid-feedback">
                Credit period is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Guarentee Period<span class="required">*</span></label>
              <input
                type="text"
                class="form-control capi"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.gauranteePeriod"
                name="gauranteePeriod"
                [ngClass]="{ 'is-invalid': f.submitted && gauranteePeriod.invalid }"
                #gauranteePeriod="ngModel"
                required
              />
              <div class="invalid-feedback">
                Guarentee period is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Contact person<span class="required">*</span></label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.contactPerson"
                name="contactPerson"
                [ngClass]="{ 'is-invalid': f.submitted && contactPerson.invalid }"
                #contactPerson="ngModel"
                required
              />
              <div class="invalid-feedback">
                Contact person is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Contact Person Designation<span class="required">*</span></label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.contactPersonDesignation"
                name="contactPersonDesignation"
                [ngClass]="{ 'is-invalid': f.submitted && contactPersonDesignation.invalid }"
                #contactPersonDesignation="ngModel"
                required
              />
              <div class="invalid-feedback">
                Contact person designation is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Contact person Ph.<span class="required">*</span></label>
              <input
                class="form-control capi"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.contactPersonNum"
                name="contactPersonNum"
                [ngClass]="{ 'is-invalid': f.submitted && contactPersonNum.invalid }"
                #contactPersonNum="ngModel"
                required
              />
              <div class="invalid-feedback">
                Phone is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Contact person email</label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.contactPersonEmail"
                name="contactPersonEmail"
                [ngClass]="{ 'is-invalid': f.submitted && contactPersonEmail.invalid }"
                #contactPersonEmail="ngModel"
                required
              />
              <div class="invalid-feedback">
                Email is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group " data-provide="datepicker">
              <label>Joining Date<span class="required">*</span></label>
              <input
                type="date"
                class="form-control"
                name="joiningDate"
                [(ngModel)]="model.joiningDate"
                [ngClass]="{ 'is-invalid': f.submitted && joiningDate.invalid }"
                #joiningDate="ngModel"
                [readonly]="readOnlyForm == 'R'"
                required
              />
              <div class="invalid-feedback">
                Joining date is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Candidate Name<span class="required">*</span></label>
              <input
                type="text"
                class="form-control"
                name="candidateName"
                [(ngModel)]="model.candidateName"
                [ngClass]="{ 'is-invalid': f.submitted && candidateName.invalid }"
                candidateName
                [readonly]="readOnlyForm == 'R'"
                required
              />
              <div class="invalid-feedback">
                Candidate Name is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Designation<span class="required">*</span></label>
              <input
                type="text"
                class="form-control"
                name="designation"
                [(ngModel)]="model.designation"
                [ngClass]="{ 'is-invalid': f.submitted && designation.invalid }"
                #designation="ngModel"
                [readonly]="readOnlyForm == 'R'"
                required
              />
              <div class="invalid-feedback">
                Designation is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Annual Package<span class="required">*</span></label>
              <input
                type="text"
                class="form-control"
                name="annualPackage"
                [(ngModel)]="model.annualPackage"
                [ngClass]="{ 'is-invalid': f.submitted && annualPackage.invalid }"
                #annualPackage="ngModel"
                [readonly]="readOnlyForm == 'R'"
                required
              />
              <div class="invalid-feedback">
                Annual package is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Phone<span class="required">*</span></label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.phone"
                name="phone"
                [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                #phone="ngModel"
                required
              />
              <div class="invalid-feedback">
                Phone is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Branch Head<span class="required">*</span></label>
              <input
                type="text"
                class="form-control"
                name="branchHeadName"
                [(ngModel)]="model.branchHeadName"
                [ngClass]="{ 'is-invalid': f.submitted && branchHeadName.invalid }"
                #branchHeadName="ngModel"
                [readonly]="readOnlyForm == 'R'"
                required
              />
              <div class="invalid-feedback">
                Branch Head Name is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Branch Location <span class="required">*</span></label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.branchLocation"
                name="branchLocation"
                [ngClass]="{ 'is-invalid': f.submitted && branchLocation.invalid }"
                #branchLocation="ngModel"
                required
              />
              <div class="invalid-feedback">
                Branch location is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Service Charge <span class="required">*</span></label>
              <input
                type="text"
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.serviceCharge"
                name="serviceCharge"
                [ngClass]="{ 'is-invalid': f.submitted && serviceCharge.invalid }"
                #serviceCharge="ngModel"
                required
              />
              <div class="invalid-feedback">
                Service charge is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Payment Status <span class="required">*</span></label>
              <select
                class="form-control"
                name="ps"
                [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="model.paidStatus"
                [ngClass]="{ 'is-invalid': f.submitted && ps.invalid }"
                #ps="ngModel"
                required
              >
                <option *ngFor="let cal of properties.PAYMENT_STATUS">{{ cal }} </option>
              </select>
              <div class="invalid-feedback">
                Payment Status is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="model.paidStatus == 'Paid'">
            <div class="form-group" data-provide="datepicker">
              <label>Paid On <span class="required">*</span></label>
              <input
                type="date"
                class="form-control"
                name="paidOn"
                [(ngModel)]="model.paidOn"
                [ngClass]="{ 'is-invalid': f.submitted && paidOn.invalid }"
                #paidOn="ngModel"
                [readonly]="readOnlyForm == 'R'"
                required
              />
              <div class="invalid-feedback">
                Paid On is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Billing Address<span class="required">*</span></label>
              <textarea
                class="form-control"
                cols="5"
                rows="5"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.billingAddress"
                name="billingAddress"
                [ngClass]="{ 'is-invalid': f.submitted && billingAddress.invalid }"
                #billingAddress="ngModel"
                required
              ></textarea>
              <div class="invalid-feedback">
                Billing address is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row" *ngIf="model.properties.length > 0">
            <div class="col-md-12 ml-3" *ngIf="model.properties.length > 0">
              <div class="form-group">
                <label>Additional Properties</label>
                <div class="row" *ngFor="let ap of model.properties; let i = index">
                  <div class="col-md-5">
                    <input
                      type="text"
                      [(ngModel)]="ap.name"
                      class="form-control"
                      name="addPropName{{ i }}"
                      [readonly]="readOnlyForm == 'R'"
                    />
                  </div>
                  <div class="col-md-5">
                    <input
                      type="text"
                      [(ngModel)]="ap.value"
                      class="form-control"
                      name="addPropValue{{ i }}"
                      [readonly]="readOnlyForm == 'R'"
                    />
                  </div>
                  <div class="col-md-2">
                    <i
                      class="fa fa-minus"
                      aria-hidden="true"
                      id="decrease"
                      *ngIf="enableButtonType != 'E'"
                      (click)="propertiesListIncrement($event.target, i)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea
                class="form-control"
                cols="5"
                rows="5"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.description"
                name="description"
                #notes="ngModel"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Additional Properties</label>
              <div class="row">
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="apName" class="form-control" name="apName" [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue" [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-2">
                  <i
                    class="fa fa-plus"
                    aria-hidden="true"
                    id="increase"
                    *ngIf="enableButtonType != 'E'"
                    (click)="propertiesListIncrement($event.target, 0)"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="model?.files?.length > 0">
          <div class="col-md-12 ml-3">
            <div class="form-group">
              <label>Files</label>
              <div class="row" *ngFor="let ap of model.files; let i = index">
                <div class="col-md-5">
                  <span class="file-download" (click)="downloadFile(ap.id)">
                    {{ ap.fileName }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
            >
              Add
            </button>
            <button
              type="button"
              *ngIf="enableButtonType == 'U'"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"
              class="btn btn-secondary ml-2"
              (click)="update(f)"
            >
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button" (click)="enableFormEditable()">
              Edit
            </button> -->
            <button
              type="button"
              (click)="cancelForm(f)"
              class="btn btn-secondary ml-3"
              *ngIf="enableButtonType == '' || enableButtonType == 'U'"
            >
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #uploadContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ properties.UPOAD }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="file" ng2FileSelect [uploader]="uploader" />
    <textarea class="form-control mt-3" placeholder="comments" cols="5" rows="5" [(ngModel)]="comments"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="uploadFiles()">Upload</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
