<div class="row">
    <div class="col-xl-12">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item text-white">
                <i class="fa fa-home"></i> &nbsp; <a href="Javascript:void(0)" class="text-white" [routerLink]="['/layout/dashboard']">{{properties.APP_NAME}}</a>
            </li>
            <li class="breadcrumb-item active"><i class="fa {{icon1}}"></i> {{heading1}}</li>
            <li class="breadcrumb-item active" *ngIf="icon2"><i class="fa {{icon2}}"></i> {{heading2}}</li>
        </ol>
    </div>
</div>