<div [@routerTransition]>
  <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Consultant Call History'"></app-page-header>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"><strong>Total No of records : {{consultantCallHistoryList.length}}</strong></div>
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2">
        <table class="table table-hover table-striped">
          <tbody class="overflow-ele-scroll">
            <tr
              *ngFor="let cchl of consultantCallHistoryList  |  filter : 'consultantName' :currSearchTxt ; let i = index">
              <td class="table-data-padding" (click)="readOnlyEnable(cchl)"
                (dblclick)="consultantCallHistoryEdit(cchl)">
                <dl>
                    <dt> {{cchl.consultantName}}</dt>
                    <dd>{{cchl.description}}</dd>
                  </dl>
              </td>
              <td class="table-data-padding"><span class="fa fa-trash pull-right"
                (click)="open(content,cchl.id)"></span>
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Consultant Call History</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete ? &hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="deleteCoCHRecord()">Ok</button>
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                </div>
              </ng-template>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid&&createConsultantCallHistory(f)" #f="ngForm"
        novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>Consultant<span class="required">*</span></label>
            
                <select class="form-control" name="consultant" [disabled]="readOnlyForm == 'R'" [(ngModel)]="consultantCallHistoryModel.consultantId"
                  [ngClass]="{'is-invalid': f.submitted && consultant.invalid}" #consultant="ngModel" required>
                  <option *ngFor="let consultant of consultantList" [ngValue]="consultant.id">{{consultant.fullname}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Consultant is mandatory
                </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Client Position  <span class="required">*</span></label>               
                <select class="form-control" name="cps" [disabled]="readOnlyForm == 'R'" [(ngModel)]="consultantCallHistoryModel.clientPositionCode"
                  required>
                  <option *ngFor="let cp of clientPositionList" [ngValue]="cp.clientPositionCode">
                    {{cp.clientPositionCode}}</option>
                </select>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Called Date </label>
              <input class="form-control" type="date" name="calledDate" [readonly]="readOnlyForm == 'R'" placeholder="Called Date"
                [(ngModel)]="consultantCallHistoryModel.calledDate" required>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Description<span class="required">*</span></label>
              <textarea class="form-control" name="description" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="consultantCallHistoryModel.description"
                [ngClass]="{'is-invalid': f.submitted && description.invalid}" #description="ngModel" cols="10"
                rows="10" required></textarea>
              <div class="invalid-feedback">
                description is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-8">
              <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">Add</button>
              <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                (click)="updateConsultantCallHistory(f)">Update</button>
              <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button>
              <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3">Cancel</button>

          </div>
        </div>
      </form>
    </div>
  </div>

</div>
