<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Consultant Call History'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive table-fixed">
                <table class="table table-hover table-striped">
                    <!-- <thead>
                        <tr>
                            <th>name</th>
                        </tr>
                    </thead> -->
                    <tbody class="overflow-ele-scroll">
                        <tr *ngFor="let cchl of consultantCallHistoryList">
                            <td (click)="readOnlyEnable(cchl)" (dblclick)="consultantCallHistoryEdit(cchl)">{{cchl.id}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Consultant</label>
                        <div *ngIf="readOnlyForm; else elseBlock">
                            <input class="form-control" readonly [(ngModel)]="consultantCallHistoryModel.consultantId">
                        </div>
                        <ng-template #elseBlock>
                            <select class="form-control" [(ngModel)]="consultantCallHistoryModel.consultantId">
                                <option *ngFor="let cl of consultantList" [ngValue]="cl.id">{{cl.fullname}}</option>
                            </select>
                        </ng-template>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="consultantCallHistoryModel.description">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-8">
                    <span *ngIf="formButtonsToggler;else toggleButtons">
                        <button type="button" id="add" class="btn btn-secondary ml-3" (click)="createConsultantCallHistory()">Add</button>
                    </span>
                    <ng-template #toggleButtons>
                        <span *ngIf="editButtonToggler;else toggleEdit">
                            <button type="button" id="update" class="btn btn-secondary ml-2"
                                (click)="editableForm()">Edit</button>
                        </span>
                        <ng-template #toggleEdit>
                            <button type="button" id="update" class="btn btn-secondary ml-2"
                                (click)="updateConsultantCallHistory()">Update</button>
                        </ng-template>
                        <button type="button" id="delete" class="btn btn-secondary ml-2"
                            (click)="deleteConsultantCallHistory()">Delete</button>
                    </ng-template>
                    <button type="button" id="cancel" (click)="cancelForm()"
                        class="btn btn-secondary ml-3">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>