<div [@routerTransition]>
  <app-page-header [icon2]="'fa-users'" [icon1]="'fa-phone'" [heading1]="'Calls'"
    [heading2]="'Consultant Call History'"></app-page-header>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"><input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
                <!-- (click)="sort('caller')" -->
              <th>
                Caller
                <!-- <span class="fa fa-sort" *ngIf="key =='caller'" [ngClass]="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span> -->
              </th>
              <!-- (click)="sort('consultant')" -->
              <th>
                Consultant
                <!-- <span class="fa fa-sort" *ngIf="key =='consultant'" [ngClass]="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span> -->
              </th>
              <th>
                Client Position
              </th>
              <th width="150">
                Called Date
              </th>
            </tr>
          </thead>
          <tbody class="overflow-ele-scroll">
              <!-- | orderBy: key : reverse -->
            <tr *ngFor="let cchl of consultantCallHistoryList  | filter: 'consultantName':currSearchTxt | paginate: { itemsPerPage: 20, currentPage: page }; let i = index"
              (click)="setModel(cchl.id)" (dblclick)="dblSetModel()">
              <td>
                {{ cchl.calledBy.fullname }}
              </td>
              <td>
                {{ cchl.consultant.fullname }}
              </td>
              <td>
                {{cchl.clientPosition.generatedCode}}
              </td>
              <td>
                {{ cchl.calledDate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 justify-content-center mb-5">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        <!-- <ngb-pagination [collectionSize]="consultantListLength" [(page)]="page" [ellipses]="false"
          (pageChange)="pageChange($event)" [maxSize]="pageSize" [pageSize]="pageSize" [rotate]="true"
          [boundaryLinks]="true">
        </ngb-pagination> -->
      </div>
    </div>

    <div class="col-md-5">
      <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm"
        novalidate>
        <div class="row text-center">
          <div class="form-group col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate">
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">
              Update
            </button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button" (click)="enableFormEditable()">
              Edit
            </button> -->
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == ''">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>

            <span class="pull-right" *ngIf="showAction">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="action" name="sel1" #sel1="ngModel"
                  (change)="actions(action,trashContent,f)">
                  <option [ngValue]="null" hidden selected>Choose action</option>
                  <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                    {{ al.key }}
                  </option>
                </select>
              </div>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Called By<span class="required">*</span></label>
              <select class="form-control" [disabled]="readOnlyForm == 'R'" name="cn"
                [(ngModel)]="model.calledBy"
                [ngClass]="{ 'is-invalid': f.submitted && cn.invalid }" #cn="ngModel" required>
                <option *ngFor="let rl of recruiterList" [ngValue]="rl.id">
                  {{ rl.name }}
                </option>
              </select>
              <div class="invalid-feedback">
                Called By is mandatory
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Called Date <span class="required">*</span></label>
              <input class="form-control" type="date" name="calledDate" [readonly]="readOnlyForm == 'R'"
                placeholder="Called Date" [(ngModel)]="model.calledDate" required />
            </div>
            <div class="invalid-feedback">
              Called date is mandatory
            </div>
          </div>
          <div class="col-md-12">
            <hr />
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Client Position</label>

              <select class="form-control" [disabled]="readOnlyForm == 'R'" name="cp"
                [(ngModel)]="model.cpId" [ngClass]="{ 'is-invalid': f.submitted && cp.invalid }"
                #cp="ngModel">
                <option *ngFor="let cpl of clientPositionList" [ngValue]="cpl.id">
                  {{ cpl.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Consultant<span class="required">*</span></label>
              <select class="form-control" name="consultant" [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="model.consultantId"
                [ngClass]="{ 'is-invalid': f.submitted && consultant.invalid }" #consultant="ngModel" required>
                <option *ngFor="let consultant of consultantList" [ngValue]="consultant.id">{{ consultant.name }}
                </option>
              </select>
              <div class="invalid-feedback">
                Consultant is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="model.properties.length > 0">
            <div class="form-group">
              <label>Additional Properties</label>
              <div class="row" *ngFor="let ap of model.properties; let i = index">
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="ap.name" class="form-control" name="addPropName{{ i }}"
                    [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="ap.value" class="form-control" name="addPropValue{{ i }}"
                    [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-2">
                  <i class="fa fa-minus" aria-hidden="true" id="decrease" *ngIf="enableButtonType != 'E'"
                    (click)="propertiesListIncrement($event.target, i)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Notes<span class="required">*</span></label>
              <textarea class="form-control" name="description" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.description"
                [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" #description="ngModel" cols="10"
                rows="10" required></textarea>
              <div class="invalid-feedback">
                Notes is mandatory
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Additional Properties</label>
              <div class="row">
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="apName" class="form-control" name="apName"
                    [readonly]="readOnlyForm == 'R'" />
                </div>
                <div class="col-md-5">
                  <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue"
                    [readonly]="readOnlyForm == 'R'" (keypress)="enter($event)" />
                </div>
                <div class="col-md-2">
                  <i class="fa fa-plus" aria-hidden="true" id="increase" *ngIf="enableButtonType != 'E'"
                    (click)="propertiesListIncrement($event.target, 0)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate">
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">
              Update
            </button>

            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button" (click)="enableFormEditable()">
              Edit
            </button> -->
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == ''">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>
            <span class="pull-right" *ngIf="showAction">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="action" name="sel1" #sel1="ngModel"
                  (change)="actions(action,trashContent,f)">
                  <option [ngValue]="null" hidden selected>Choose action</option>
                  <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                    {{ al.key }}
                  </option>
                </select>
              </div>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Consultant Call History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
