/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~ngx-toastr/toastr.css';

@media print {
  .breadcrumb {
    display: none !important;
  }
}

.table-data-padding {
  padding: 0.2em !important;
}

td {
  dl {
    margin-bottom: -6px !important;

    dd {
      padding-left: 15px !important
    }
  }
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}
.modal-popup-header-bg{
 background-color : #343a40 !important;
 color:white;
}