<div [@routerTransition]>
  <app-page-header [icon1]="'fa-building'" [heading1]="'Client'"></app-page-header>
  <ng-template #spinner>
    <div class="spinner padding-top justify-content-md-center">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </ng-template>
  <div class="row" *ngIf="listReturned == true; else spinner">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"><input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Phone
              </th>
              <th>
                Email
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cl of clientList.list | filter: currSearchTxt | paginate: paginateConfig; let i = index"
              (click)="setModel(cl.id)">
              <td>
                {{ cl.name }}
              </td>
              <td>
                {{ cl.phone }}
              </td>
              <td>
                {{ cl.email }}
              </td>
              <!-- <td width="140">
                <app-action [trashContent]="trashContent" [uploadContent]="uploadContent"
                  [downloadContent]="downloadContent" [id]="cl.id" [isTrash]="trash" [isUpload]="upload"
                  [isDownload]="download" (upload)="open($event)" (download)="open($event)" (trash)="open($event)">
                </app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 justify-content-center mb-5" *ngIf="clientList.noOfRecords > properties.ITEMSPERPAGE">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
    <div class=" col-md-5">
      <form name="form" id="clientForm" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
        <div class="row text-center" *ngIf="loggedInRole != 'User'">
          <div class="col-md-12 form-group">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate">
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">Update</button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button> -->
            <button type="button" (click)="emptyForm(f)" *ngIf="enableButtonType == '' || enableButtonType == 'U'"
              class="btn btn-secondary ml-3">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>

            <span class="pull-right" *ngIf="showAction && readOnlyForm == 'U'">
              <div class="dropdown theme-dropdown clearfix" placement="bottom-right" ngbDropdown>
                <!-- <button class="btn btn-secondary" >
                        Dropdown
                    </button> -->
                <i class="fa fa-bars" ngbDropdownToggle></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                  <a class="dropdown-item drop-list" (click)="editForm()">Edit</a>
                  <a class="dropdown-item drop-list" (click)="emptyForm(f)">New</a>
                  <a class="dropdown-item drop-list" (click)="open(model.id, uploadContent)">File Upload</a>
                  <a class="dropdown-item drop-list" (click)="open(model.id, trashContent)">Delete</a>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div *ngIf="readOnlyForm == 'U'; else notRead">

          <table class="table table-borderless table-striped">
            <tbody>
              <tr *ngIf="model.name">
                <th>Client Name</th>
                <td>{{ model.name }}</td>
              </tr>
              <tr *ngIf="model.contactPersonName">
                <th>Contact Person Name</th>
                <td>{{ model.contactPersonName }}</td>
              </tr>
              <tr *ngIf="model.contactPersonDesignation">
                <th>Contact Person Designation</th>
                <td>{{ model.contactPersonDesignation }}</td>
              </tr>
              <tr *ngIf="model.industryType.name">
                <th>Industry Type</th>
                <td>{{ model.industryType.name }}</td>
              </tr>
              <tr *ngIf="model.website">
                <th>Website</th>
                <td>{{ model.website }}</td>
              </tr>
              <tr *ngIf="model.phone">
                <th>Phone</th>
                <td>{{ model.phone }}</td>
              </tr>
              <tr *ngIf="model.email">
                <th>Email</th>
                <td>{{ model.email }}</td>
              </tr>
              <tr *ngIf="model.guaranteePeriod">
                <th>Guarantee Period</th>
                <td>{{ model.guaranteePeriod }}</td>
              </tr>
              <tr *ngIf="model.creditPeriod">
                <th>Credit Period</th>
                <td>{{ model.creditPeriod }}</td>
              </tr>
              <tr *ngIf="model.servicetaxNo">
                <th>Service Tax no.</th>
                <td>{{ model.servicetaxNo }}</td>
              </tr>
              <tr *ngIf="model.serviceCharge">
                <th>Service Charge</th>
                <td>{{ model.serviceCharge }}</td>
              </tr>
              <tr *ngIf="model.gst">
                <th>GST</th>
                <td>{{ model.gst }}</td>
              </tr>
              <tr *ngIf="model.description">
                <th>Description</th>
                <td>
                  <p [innerHTML]="model.description"></p>
                </td>
              </tr>
              <tr *ngIf="model.address">
                <th>Address</th>
                <td>{{ model.address }}</td>
              </tr>
              <tr *ngIf="model.mapLocation">
                <th>Map Location</th>
                <td>{{ model.mapLocation }}</td>
              </tr>
              <tr *ngIf="model.address != model.billingAddress">
                <th>Billing Address</th>
                <td>{{ model.billingAddress }}</td>
              </tr>
              <tr *ngFor="let ap of model.properties">
                <th>{{ ap.name }}</th>
                <td>{{ ap.value }}</td>
              </tr>
              <tr *ngFor="let cc of model.clientContacts">
                <th>Contact</th>
                <td>
                  {{ cc.fullname }}<br />
                  {{ cc.email }}<br />
                  {{ cc.phone }}
                </td>
              </tr>
              <tr *ngFor="let fl of model.files">
                <th>Files</th>
                <td class="file-download" (click)="downloadFile(fl.id)">{{ fl.fileName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #notRead>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Client Name<span class="required">*</span></label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.name" name="code"
                  [ngClass]="{ 'is-invalid': f.submitted && code.invalid }" #code="ngModel" #clientName
                  (blur)="transformTitleCase(clientName)" required />
                <div class="invalid-feedback">
                  client name is mandatory
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Industry Type</label>
                <select class="form-control " [disabled]="readOnlyForm == 'R'" [(ngModel)]="model.industryId"
                  name="industryType" [ngClass]="{ 'is-invalid': f.submitted && industryType.invalid }" #con="ngModel">
                  <option *ngFor="let itl of itList.list" [ngValue]="itl.id">{{ itl.name }}</option>
                </select>
                <div class="invalid-feedback">
                  Consultant is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Salutation<span class="required">*</span></label>
                <select class="form-control" name="gender" [disabled]="readOnlyForm == 'R'"
                  [(ngModel)]="model.salutation" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }"
                  #gender="ngModel" required>
                  <option *ngFor="let cs of properties.SALUTATION">
                    {{ cs }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  gender is mandatory
                </div>
              </div>
            </div>
            <div class="col-md-5" style="margin-left:-20px;">
              <div class="form-group">
                <label>Contact Person Name</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.contactPersonName"
                  name="cpn" [ngClass]="{ 'is-invalid': f.submitted && cpn.invalid }" #cpn="ngModel" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Designation</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.contactPersonDesignation" name="cpd"
                  [ngClass]="{ 'is-invalid': f.submitted && cpd.invalid }" #cpd="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.phone" name="phone"
                  [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" #phone="ngModel" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.email" name="email"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Guarantee Period</label>
                <input type="text" class="form-control" [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.guaranteePeriod" name="guaranteePeriod"
                  [ngClass]="{ 'is-invalid': f.submitted && guaranteePeriod.invalid }" #guaranteePeriod="ngModel" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Credit Period</label>
                <input class="form-control" type="text" [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.creditPeriod" name="creditPeriod"
                  [ngClass]="{ 'is-invalid': f.submitted && creditPeriod.invalid }" #creditPeriod="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Service Tax no</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.servicetaxNo"
                  name="servicetaxNo" [ngClass]="{ 'is-invalid': f.submitted && servicetaxNo.invalid }"
                  #servicetaxNo="ngModel" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Service Charge</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.serviceCharge"
                  name="serviceCharge" [ngClass]="{ 'is-invalid': f.submitted && serviceCharge.invalid }"
                  #serviceCharge="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>GST</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.gst" name="gst"
                  [ngClass]="{ 'is-invalid': f.submitted && gst.invalid }" #gst="ngModel" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Website</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.website" name="web"
                  [ngClass]="{ 'is-invalid': f.submitted && web.invalid }" #web="ngModel" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <input type="checkbox" [(ngModel)]="model.shareContactInfo"
                  name="shareContactInfo" />&nbsp;
                  <label>Share Contact Info</label>
            </div>
          </div>
          <div class="row" *ngIf="model.properties.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Additional Properties</label>
                <div class="row" *ngFor="let ap of model.properties; let i = index">
                  <div class="col-md-5 pt-2">
                    <input type="text" [(ngModel)]="ap.name" class="form-control" name="addPropName{{ i }}"
                      [readonly]="readOnlyForm == 'R'" />
                  </div>
                  <div class="col-md-5 pt-2">
                    <input type="text" [(ngModel)]="ap.value" class="form-control" name="addPropValue{{ i }}"
                      [readonly]="readOnlyForm == 'R'" />
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-minus" aria-hidden="true" id="decrease" *ngIf="enableButtonType != 'E'"
                      (click)="propertiesListIncrement($event.target, i)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description</label>
                <angular-editor [(ngModel)]="model.description" name="description" [config]="config"></angular-editor>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" cols="5" rows="5" [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.address" name="add" [ngClass]="{ 'is-invalid': f.submitted && add.invalid }"
                  #add="ngModel"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pb-2">
              <input type="checkbox" class="" [(ngModel)]="address" (change)="billngAddressMatch()"
                name="interviewCheckbox" />&nbsp;<label>Billing address is same as address</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Billing Address</label>
                <textarea class="form-control" cols="5" rows="5" [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="model.billingAddress" name="billingAddress"
                  [ngClass]="{ 'is-invalid': f.submitted && billingAddress.invalid }"
                  #billingAddress="ngModel"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Map Location</label>
                <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.mapLocation"
                  name="mapLoc" [ngClass]="{ 'is-invalid': f.submitted && web.invalid }" #mapLoc="ngModel" />
              </div>
            </div>
          </div>
          <strong>Add Contacts</strong>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <tbody>
                  <tr *ngFor="let cc of model.clientContacts; let i = index">
                    <td>
                      <input class="form-control form-control-sm" [readonly]="readOnlyForm == 'R'"
                        [(ngModel)]="cc.fullname" name="fullname{{ i }}"
                        [ngClass]="{ 'is-invalid': f.submitted && fullname.invalid }" placeholder="fullname"
                        #fullname="ngModel" />
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="email" [readonly]="readOnlyForm == 'R'"
                        [(ngModel)]="cc.email" name="email{{ i }}"
                        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="email"
                        #email="ngModel" />
                    </td>
                    <td>
                      <!--pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==12) return false;"-->
                      <input class="form-control form-control-sm" type="string" [readonly]="readOnlyForm == 'R'"
                        [(ngModel)]="cc.phone" name="phone{{ i }}"
                        [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" placeholder="phone"
                        #phone="ngModel" />
                    </td>
                    <td width="20">
                      <i class="fa fa-minus" *ngIf="model.clientContacts.length > 1" style="font-size:15px"
                        aria-hidden="true" id="decrease" (click)="contactListIncrement($event.target, i)"></i>
                      <i class="fa fa-plus" style="font-size:15px" *ngIf="i + 1 == model.clientContacts.length"
                        aria-hidden="true" id="increase" (click)="contactListIncrement($event.target, i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Additional Properties</label>
                <div class="row">
                  <div class="col-md-5">
                    <input type="text" [(ngModel)]="apName" class="form-control" name="apName"
                      [readonly]="readOnlyForm == 'R'" />
                  </div>
                  <div class="col-md-5">
                    <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue"
                      [readonly]="readOnlyForm == 'R'" />
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-plus" aria-hidden="true" id="increase" *ngIf="enableButtonType != 'E'"
                      (click)="propertiesListIncrement($event.target, 0)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="modal-body" *ngIf="model?.files?.length > 0">
                <table class="table">
                  <thead>
                    <th>File Name</th>
                    <th>Description</th>
                    <th>Action</th>
                  </thead>
                  <tbody *ngFor="let fl of model.files">
                    <td>{{ fl.fileName }}</td>
                    <td>{{ fl.Description }}</td>
                    <td>
                      <button type="button" class="btn btn-secondary btn-sm"
                        (click)="downloadFile(fl.id)">Download</button>
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="row text-center" *ngIf="loggedInRole != 'User'">
          <div class="col-md-12 form-group">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3"
              [disabled]="f.form.pristine || f.form.invalid || isCreate">
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">Update</button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                  (click)="enableFormEditable()">Edit</button> -->
            <button type="button" (click)="emptyForm(f)" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">
              {{ enableButtonType != '' ? 'Close' : 'Clear' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ properties.APP_STATUS }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ properties.CONFIRM_DELETE }} ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #uploadContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">{{ properties.UPLOAD }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="file" ng2FileSelect [uploader]="uploader" />
    <textarea class="form-control mt-3" placeholder="Comments" cols="5" rows="5" [(ngModel)]="comments"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="uploadFiles()">Upload</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #downloadContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">Client {{ properties.DOWNLOAD }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="model.files.length > 0; else emptyMsg">
    <table class="table">
      <thead>
        <th>File Name</th>
        <th>Description</th>
        <th>Action</th>
      </thead>
      <tbody *ngFor="let fl of model.files">
        <td>{{ fl.fileName }}</td>
        <td>{{ fl.Description }}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" (click)="downloadFile(fl.id)">Download</button>
        </td>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #emptyMsg>
  <h3 class="text-center">No Files to download</h3>
</ng-template>
