<span class="fa fa-trash pull-right" *ngIf="isTrash == 'trash'" data-toggle="tooltip" title="Delete" (click)="trashData()"></span>
<!-- 
<span class="fa fa-upload pull-right px-2" *ngIf="type == 'upload'" data-toggle="tooltip" title="Upload" (click)="open(upload,cl.id)"></span>
<span class="fa fa-download pull-right" *ngIf="type == 'download'" data-toggle="tooltip" title="Download"
  (click)="open(download,cl.id);getFilesById()"></span> -->
<span class="fa fa-filter pull-right pointer" *ngIf="isShortList == 'shortList'" data-toggle="tooltip" title="Shortlist"
  (click)="shortListData()"></span>

<span class="fa fa-comment pull-right pointer" *ngIf="isSendSMS == 'sms'" data-toggle="tooltip" title="SendSMS"
  (click)="sendSmsData()"></span>

<span class="fa fa-envelope pull-right pointer" *ngIf="isSendMail == 'email'" data-toggle="tooltip" title="SendMail"
  (click)="sendMailData()"></span>
