<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Consultant Coordination and Placement Tool</h1>
      <div class="form-content">
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="loginDetails.username"
            class="form-control input-underline input-lg"
            id="user"
            placeholder="{{ 'Email' | translate }}"
            (keypress)="login($event)"
          />
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control input-underline input-lg"
            id="pwd"
            placeholder="{{ 'Password' | translate }}"
            [(ngModel)]="loginDetails.password"
            (keypress)="login($event)"
            #password
          />
          <span id="toogle" (click)="toogle(password)"
            ><i
              toggle="#pwd"
              class="fa fa-eye field-icon toggle-password"
              *ngIf="!viewPassword"
              aria-hidden="true"
            ></i>
            <i
              toggle="#pwd"
              class="fa fa-eye-slash field-icon toggle-password"
              *ngIf="viewPassword"
              aria-hidden="true"
            ></i>
          </span>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="isRememberMe" /> Remember me
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <button
              class="btn rounded-btn"
              (click)="onLoggedin()"
              [disabled]="loggingIn"
            >
              <span class="fa fa-sign-in"></span>&nbsp;&nbsp;{{
                loggingIn ? "loading..." : ("Sign In" | translate)
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
