<div [@routerTransition]>
  <app-page-header [icon1]="'fa-user'" [heading1]="'Administration'" [icon2]="'fa-filter'"
    [heading2]="'Client Application Status'"></app-page-header>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <tbody>
            <tr
              *ngFor="let casl of clientApplicationStatusList |  filter : 'description' :currSearchTxt ; let i = index"
              (click)="setModel(casl.id)" (dblclick)="dblSetModel()">
              <td >
                {{casl.description}}
              </td>
              <td>
                {{casl.code}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientApplicationStatusForm" (ngSubmit)="f.form.valid && create(f)"
        #f="ngForm" novalidate>
        <div class="row text-center">
            <div class="col-md-12 form-group">
              <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate"
  >Add</button>
              <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                (click)="update(f)">Update</button>
              <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button> -->
                <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == ''">
                    {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                  </button>
      
                  <span class="pull-right" *ngIf="showAction">
                    <div class="form-group">
                      <select class="form-control" [(ngModel)]="action" name="sel1" #sel1="ngModel"
                        (change)="actions(action,trashContent,f)">
                        <option [ngValue]="null" hidden selected>Choose action</option>
                        <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                          {{ al.key }}
                        </option>
                      </select>
                    </div>
                  </span>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Code<span class="required">*</span></label>
              <input class="form-control" maxlength="30" [readonly]="readOnlyForm == 'R' || readOnlyForm == 'U'"
                [(ngModel)]="model.code" name="code"
                [ngClass]="{'is-invalid': f.submitted && code.invalid}" #code="ngModel" required>
              <div class="invalid-feedback">
                code is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description<span class="required">*</span></label>
              <textarea cols="10" rows="10" class="form-control" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="model.description" name="decription"
                [ngClass]="{'is-invalid': f.submitted && description.invalid}" #description="ngModel"
                required></textarea>
              <div class="invalid-feedback">
                description is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate"
>Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="update(f)">Update</button>
            <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button> -->
              <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == ''">
                  {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                </button>
    
                <span class="pull-right" *ngIf="showAction">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="action" name="sel1" #sel1="ngModel"
                      (change)="actions(action,trashContent,f)">
                      <option [ngValue]="null" hidden selected>Choose action</option>
                      <option *ngFor="let al of actionsList.actions" [ngValue]="al.value">
                        {{ al.key }}
                      </option>
                    </select>
                  </div>
                </span>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Application Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>