<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Client Position'"></app-page-header>
    <div class="row">
        <div class="col-md-6 table-fixed">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Technology</th>
                        </tr>
                    </thead>
                    <tbody class="overflow-ele-scroll">
                        <tr *ngFor="let cpl of clientPositionList">
                            <td (click)="readOnlyEnable(cpl)" (dblclick)="editClientPosition(cpl)">{{cpl.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Technology</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="clientPositionModel.technology">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Experience</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="clientPositionModel.experience">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Required Skills</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="clientPositionModel.requiredSkills">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Min CTC</label>
                        <input class="form-control" [readonly]="readOnlyForm" type="number" [(ngModel)]="clientPositionModel.minCtc">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Max CTC</label>
                        <input class="form-control" [readonly]="readOnlyForm" type="number" [(ngModel)]="clientPositionModel.maxCtc">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Client Position Status </label>
                        <div *ngIf="readOnlyForm; else elseBlock">
                                <input class="form-control" readonly [(ngModel)]="clientPositionModel.clientPositionsStatusCode">
                            </div>
                            <ng-template #elseBlock>
                                    <select class="form-control" [(ngModel)]="clientPositionModel.clientPositionsStatusCode">
                                            <option *ngFor="let cpsl of clientPositionStatusList" [ngValue]="cpsl.code">{{cpsl.description}}</option>
                                        </select>
                            </ng-template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Closed By</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="clientPositionModel.closedBy">
                        <!-- Should get dropdown of usernames will done later and present give input admin or pavan -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Additional Comments</label>
                        <input class="form-control" [readonly]="readOnlyForm" [(ngModel)]="clientPositionModel.additionalComments">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <div *ngIf="formButtonsToggler;else toggleButtons">
                            <button type="button" id="add" class="btn btn-secondary ml-3" (click)="createClientPosition()">Add</button>
                        </div>
                        <ng-template #toggleButtons>
                            <span *ngIf="editButtonToggler;else toggleEdit">
                                <button type="button" id="update" class="btn btn-secondary ml-2"
                                    (click)="editableForm()">Edit</button>
                            </span>
                            <ng-template #toggleEdit>
                                <button type="button" id="update" class="btn btn-secondary ml-2"
                                    (click)="updateClientPosition()">Update</button>
                            </ng-template>
                            <button type="button" id="delete" class="btn btn-secondary ml-2"
                                (click)="deleteClientPosition()">Delete</button>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="cancel" (click)="cancelForm()"
                            class="btn btn-secondary ml-3">Cancel</button>
                    </div>
                </div>
        </div>
    </div>

</div>