.my-custom-scrollbar {
  position: relative;
  height: 31.5em;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  .required {
     color: red; 
  }

  .bl-on-hold{
    border-left: 6px solid red;
  }
  .bl-closed{
    border-left: 6px solid green;
  }
  .bl-trans{
    border-left: 6px solid transparent;
  }

  .modal-dialog {
    max-width: 565px !important;
  }