<div [@routerTransition]>
  <app-page-header [icon1]="'fa fa-briefcase'" [heading1]="'Client Positions'"></app-page-header>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"><input type="text" class="form-control" placeholder="search" [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <tbody class="overflow-ele-scroll">
            <tr
              *ngFor="let cpl of pagedCPList | filter: 'technology':currSearchTxt; let i = index"  (click)="readOnlyEnable(cpl.id)" (dblclick)="editClientPosition(cpl)"
              [ngClass]="{ 'bl-closed': cpl.status.code === 'Closed', 'bl-on-hold': cpl.status.code === 'On Hold' }"
            >
              <td class="table-data-padding">
                <dl>
                  <dt>{{ cpl.generatedCode }} ({{ cpl.assignedTo.aliasName }})</dt>
                  <dd>
                    Need {{ cpl.requiredPositions }} candidate(s)  ({{ cpl.minCtc }} -
                    {{ cpl.maxCtc }} ) experience.
                  </dd>
                </dl>
              </td>
              <td width="140">
                <app-action
                  [trashContent]="trashContent"
                  [shortListContent]="shortListContent"
                  [sendMailContent]="sendMailContent"
                  [sendSMSContent]="sendSMSContent"
                  [id]="cpl.id"
                  [isTrash]="trash"
                  [isSendSMS]="sms"
                  [isSendMail]="email"
                  [isShortList]="shortList"
                  (shortList)="open($event)"
                  (sendSMS)="open($event)"
                  (trash)="open($event)"
                  (sendMail)="open($event)"
                ></app-action>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-12 justify-content-center mb-5">
            <ngb-pagination [collectionSize]="cpListLength" [(page)]="page" [ellipses]="false" (pageChange)="pageChange($event)" [maxSize]="pageSize" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientPositionForm" (ngSubmit)="f.form.valid && createClientPosition(f)" #f="ngForm" novalidate>
        <div class="row text-center" *ngIf="loggedInRole != 'User'">
          <div class="col-md-12">
            <div class="form-group">
                <button
                type="submit"
                *ngIf="enableButtonType == ''"
                class="btn btn-secondary ml-3"
                [disabled]="f.form.pristine || f.form.invalid || isCreate"

              >
                Add
              </button>
              <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2" (click)="updateClientPosition(f)">
                Update
              </button>
              <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button" (click)="enableFormEditable()">
                Edit
              </button>
              <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" >{{enableButtonType != '' ? 'Close' : 'Clear'}}
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Client Name<span class="required">*</span></label>
              <select
                class="form-control"
                name="cn"
                [disabled]="readOnlyForm == 'R'"
                [(ngModel)]="clientPositionModel.clientId"
                [ngClass]="{ 'is-invalid': f.submitted && cn.invalid }"
                #cn="ngModel"
                required
              >
                <option *ngFor="let cls of clientList" [ngValue]="cls.id"> {{ cls.name }}</option>
              </select>
              <div class="invalid-feedback">
                Client Name is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Job Title<span class="required">*</span></label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="clientPositionModel.role"
                name="technology"
                [ngClass]="{ 'is-invalid': f.submitted && technology.invalid }"
                #technology="ngModel"
                required
              />
              <div class="invalid-feedback">
                Role is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Required Positions</label>
              <input
                class="form-control"
                type="number"
                min="0"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="clientPositionModel.requiredPositions"
                name="nofpos"
                #nofpos="ngModel"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Required Experience</label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="clientPositionModel.experience"
                name="experience"
                [ngClass]="{ 'is-invalid': f.submitted && experience.invalid }"
                #experience="ngModel"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label>Min CTC</label>
                <input
                  class="form-control"
                  [readonly]="readOnlyForm == 'R'"
                  type="text"
                  [(ngModel)]="clientPositionModel.minCtc"
                  name="minctc"
                  [ngClass]="{ 'is-invalid': f.submitted && minctc.invalid }"
                  #minctc="ngModel"
                />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label>Max CTC</label>
                <input
                  class="form-control"
                  [readonly]="readOnlyForm == 'R'"
                  type="text"
                  [(ngModel)]="clientPositionModel.maxCtc"
                  name="maxctc"
                  [ngClass]="{ 'is-invalid': f.submitted && maxctc.invalid }"
                  #maxctc="ngModel"
                />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Location</label>
              <input
                class="form-control"
                [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="clientPositionModel.location"
                name="loc"
                [ngClass]="{ 'is-invalid': f.submitted && loc.invalid }"
                #loc="ngModel"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Client Position Status </label>
              <select class="form-control" name="cps" [disabled]="readOnlyForm == 'R'" [(ngModel)]="clientPositionModel.cpstatus">
                <option *ngFor="let cpsl of clientPositionStatusList" [ngValue]="cpsl.code"> {{ cpsl.description }} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label>Assign To</label>
                <select
                  class="form-control"
                  name="assign"
                  [disabled]="readOnlyForm == 'R'"
                  [(ngModel)]="clientPositionModel.assignedTo"
                  [ngClass]="{ 'is-invalid': f.submitted && assign.invalid }"
                  #assign="ngModel"
                >
                  <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.name }}</option>
                </select>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label>Qualification</label>
                <input
                  class="form-control"
                  [readonly]="readOnlyForm == 'R'"
                  [(ngModel)]="clientPositionModel.qualification"
                  name="qual"
                  [ngClass]="{ 'is-invalid': f.submitted && qual.invalid }"
                  #qual="ngModel"
                />
              </div>
            </div>
          <div class="col-md-6" *ngIf="clientPositionModel.cpstatus == 'Closed'">
            <div class="form-group">
              <label>Closed By</label>
              <select class="form-control" name="closedBy" [disabled]="readOnlyForm == 'R'" [(ngModel)]="clientPositionModel.closedBy">
                <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.name }}</option>
              </select>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Required Skills<span class="required">*</span></label>
              <textarea
                class="form-control"
                cols="10"
                rows="10"
                [(ngModel)]="clientPositionModel.requiredSkills"
                name="requiredskills"
                [ngClass]="{ 'is-invalid': f.submitted && requiredskills.invalid }"
                #requiredskills="ngModel"
                required
                [readonly]="readOnlyForm == 'R'"
              ></textarea>
              <div class="invalid-feedback">
                Required Skills are mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="clientPositionModel.properties.length>0">
            <div class="col-md-12 mb-5" *ngIf="clientPositionModel.properties.length > 0">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row" *ngFor="let ap of clientPositionModel.properties; let i = index">
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.name"
                        class="form-control"
                        name="addPropName{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.value"
                        class="form-control"
                        name="addPropValue{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-minus"
                        aria-hidden="true"
                        id="decrease"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, i)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <angular-editor [(ngModel)]="clientPositionModel.description" name="description" [config]="config"> </angular-editor>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row">
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apName" class="form-control" name="apName" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-5">
                      <input type="text" [(ngModel)]="apValue" class="form-control" name="apValue" [readonly]="readOnlyForm == 'R'"/>
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-plus"
                        aria-hidden="true"
                        id="increase"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, 0)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row text-center" *ngIf="loggedInRole != 'User'">
          <div class="col-md-12">
            <button
              type="submit"
              *ngIf="enableButtonType == ''"
              [disabled]="f.form.pristine || f.form.invalid || isCreate"

              class="btn btn-secondary ml-3"
            >
              Add
            </button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2" (click)="updateClientPosition(f)">
              Update
            </button>
            <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button" (click)="enableFormEditable()">
              Edit
            </button>
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" >{{enableButtonType != '' ? 'Close' : 'Clear'}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- All Templates Start-->
<ng-template #shortListContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Client Application</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Creator</label>
    <select class="form-control" name="creator" [(ngModel)]="creator">
      <option *ngFor="let rl of recruiterList" [ngValue]="rl.id"> {{ rl.fullname }}</option>
    </select>
    <label>Consultants</label>
    <ng-multiselect-dropdown
      [placeholder]="'choose names..'"
      [data]="consultantNames"
      [(ngModel)]="shortListConsultants"
      [settings]="dropdownSettings"
    >
      <!-- (onSelect)="onItemSelect($event)"
     (onSelectAll)="onSelectAll($event)" -->
    </ng-multiselect-dropdown>
    <div *ngIf="shortListConsultants">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="overflow-ele-scroll">
          <tr *ngFor="let cnt of shortListConsultants">
            <td>
              {{ cnt.item_text }}
            </td>
            <td>
              <input class="form-control" [(ngModel)]="cnt.notes" name="experience" />
            </td>
            <td>
              <button type="button" class="btn btn-secondary" (click)="createClientApplication(cnt)">Create</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #sendMailContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Send SMS</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>E-Mail</label>
    <!-- <ng-multiselect-dropdown [placeholder]="'choose numbers..'" [data]="mailIdForMails" [(ngModel)]="sendEmailModel.to"
      [settings]="dropdownSettings">
    </ng-multiselect-dropdown> -->

    <!-- (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)" -->
    <label>Subject</label>
    <input class="form-control" [(ngModel)]="sendEmailModel.subject" name="sub" />
    <label>Message Body</label>
    <textarea class="form-control" cols="5" rows="8" [(ngModel)]="sendEmailModel.body" name="body"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="sendEmailReq()">Send</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #sendSMSContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Send SMS</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Sms Type</label>
    <select class="form-control" name="cn" (change)="selectSms($event.target)">
      <option *ngFor="let sms of smsList"> {{ sms.type }}</option>
    </select>
    <label>Numbers</label>
    <ng-multiselect-dropdown
      [placeholder]="'choose numbers..'"
      [data]="numbersForSmsDropdown"
      [(ngModel)]="numbersToSend"
      [settings]="dropdownSettings"
    >
      <!-- (onSelect)="onItemSelect($event)"
     (onSelectAll)="onSelectAll($event)" -->
    </ng-multiselect-dropdown>
    <label>Message Body</label>
    <textarea class="form-control" cols="5" rows="8" [(ngModel)]="sendSmsModel.message" name="body"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="sendSmsReq()">Send</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Position</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteCPRecord()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!-- All Templates Ends-->
