<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Client Position'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Technology</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cpl of clientPositionList">
                            <td (dblclick)="edit(cpl)">{{cpl.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Technology</label>
                        <input class="form-control" [(ngModel)]="clientPositionModel.technology">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Experience</label>
                        <input class="form-control" [(ngModel)]="clientPositionModel.experience">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Required Skills</label>
                        <input class="form-control" [(ngModel)]="clientPositionModel.requiredSkills">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Min CTC</label>
                        <input class="form-control" type="number" [(ngModel)]="clientPositionModel.minCtc">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Max CTC</label>
                        <input class="form-control" type="number" [(ngModel)]="clientPositionModel.maxCtc">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Client Position Status Code</label>
                        <select class="form-control" [(ngModel)]="clientPositionModel.clientPositionsStatusCode">
                            <option *ngFor="let cpsl of clientPositionStatusList" [ngValue]="cpsl.code">{{cpsl.description}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Closed By</label>
                        <input class="form-control" [(ngModel)]="clientPositionModel.closedBy">
                        <!-- Should get dropdown of usernames will done later and present give input admin or pavan -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Additional Comments</label>
                        <input class="form-control" [(ngModel)]="clientPositionModel.additionalComments">
                    </div>
                </div>
                <div class="col-md-8 mt-4">
                    <button type="button" class="btn btn-secondary"  (click)="submit()">Add</button>
                    <button type="button" id="update" class="btn btn-primary ml-3" (click)="update()" >Update</button>
                    <button type="button" id="cancel" class="btn btn-danger ml-3">Cancel</button>
                    <button type="button" id="delete" class="btn btn-danger ml-3" (click)="delete()">Delete</button>
                </div>
            </div>

        </div>
    </div>

</div>