<div [@routerTransition]>
  <!-- <span class="fa fa-fw fa-building"></span><span class="fa fa-fw fa-phone"></span> -->
  <app-page-header [icon2]="'fa-building'" [icon1]="'fa-phone'" [heading1]="'Calls'" [heading2]="'Client Call History'">
  </app-page-header>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control" placeholder="search..."
            [(ngModel)]="currSearchTxt" /></div>
      </div>
      <div class="table-responsive mt-2 table-wrapper-scroll-y my-custom-scrollbar" [style.height.px]="screenHeight">
        <div *ngIf="clientCallHistoryList; else tableElse">
          <table class="table table-hover table-striped">
            <tbody class="overflow-ele-scroll">
              <tr *ngFor="let cchl of clientCallHistoryList" (click)="readOnlyEnable(cchl.id)"
                (dblclick)="editClientCallHistory(cchl)">
                <td>
                  {{cchl.clientPosition.client.name}}
                </td>
                <td>
                  {{cchl.clientPosition.generatedCode}}
                </td>
                <td>
                  {{cchl.calledDate}}
                </td>
                <td width="100">
                  <app-action [trashContent]="trashContent" [id]="cchl.id" [isTrash]="trash" (trash)="open($event)"></app-action>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #tableElse>
          <h3>Client History is empty</h3>
        </ng-template>
      </div>
    </div>
    <div class="col-md-5">
      <form name="form" id="clientCallHistoryForm" (ngSubmit)="f.form.valid&&createClientCallHistory(f)" #f="ngForm"
        novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Called By<span class="required">*</span></label>
              <select class="form-control" [disabled]="readOnlyForm == 'R'" name="cn"
                [(ngModel)]="clientCallHistoryModel.calledBy" [ngClass]="{'is-invalid': f.submitted && cn.invalid}"
                #cn="ngModel" required>
                <option *ngFor="let rl of recruiterList" [ngValue]="rl.id">
                  {{rl.fullname}}
                </option>
              </select>
              <div class="invalid-feedback">
                Called By is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label>Called Date <span class="required">*</span></label>
                <input class="form-control" type="date" name="calledDate" [readonly]="readOnlyForm == 'R'"
                  placeholder="Called Date" [(ngModel)]="clientCallHistoryModel.calledDate" required>
              </div>
              <div class="invalid-feedback">
                Called Date is mandatory
              </div>
          </div>
          <div class="col-md-12">
              <hr>
          </div>
          
          <div class="col-md-12">
            <div class="form-group">
              <label>Client Position<span class="required">*</span></label>

              <select class="form-control" [disabled]="readOnlyForm == 'R'" name="cp"
                [(ngModel)]="clientCallHistoryModel.cpId" [ngClass]="{'is-invalid': f.submitted && cp.invalid}"
                #cp="ngModel" required>
                <option *ngFor="let cpl of clientPositionList" [ngValue]="cpl.id">
                  {{cpl.generatedCode}}
                </option>
              </select>
              <div class="invalid-feedback">
                Client Position is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Notes<span class="required">*</span></label>
              <textarea class="form-control" name="note" cols="10" rows="10" [readonly]="readOnlyForm == 'R'"
                [(ngModel)]="clientCallHistoryModel.description" [ngClass]="{'is-invalid': f.submitted && note.invalid}"
                #note="ngModel" required></textarea>
                <div class="invalid-feedback">
                  Notes is mandatory
                </div>
            </div>
          </div>
        </div>
        <strong>Additional Properties</strong>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
                <tr *ngFor="let ap of clientCallHistoryModel.properties;let i=index">
                  <td>
                    <input class="form-control" [readonly]="readOnlyForm == 'R'" [(ngModel)]="ap.name" name="pname{{i}}"
                      placeholder="name" #pname="ngModel">
                  </td>
                  <td>
                    <input class="form-control" type="text" [readonly]="readOnlyForm == 'R'" [(ngModel)]="ap.value"
                      name="pvalue{{i}}" placeholder="value" #pvalue="ngModel">

                  </td>
                  <td>
                    <i class="fa fa-minus" aria-hidden="true" id="decrease"
                      (click)="propertiesListIncrement($event.target,i)"></i><br>
                    <i class="fa fa-plus" *ngIf="(i+1)==clientCallHistoryModel.properties.length" aria-hidden="true"
                      id="increase" (click)="propertiesListIncrement($event.target,i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3">Add</button>
            <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
              (click)="updateClientCallHistory(f)">Update</button>
            <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
              (click)="enableFormEditable()">Edit</button>
            <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Call History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteCCHRecord()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>