<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Client Call History'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cchl of clientCallHistoryList">
                            <td (dblclick)="edit(cchl)">{{cchl.clientPositionId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Client Position Id</label>
                        <select class="form-control" [(ngModel)]="clientCallHistoryModel.clientPositionId">
                            <option *ngFor="let cpl of clientPositionList"[ngValue]="cpl.id">{{cpl.id}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Notes</label>
                        <input class="form-control" [(ngModel)]="clientCallHistoryModel.notes">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class=" mt-4">
                        <button type="button" id="add" class="btn btn-secondary ml-3" (click)="submit()">Add</button>
                        <button type="button" id="update" class="btn btn-primary ml-3" (click)="update()" >Update</button>
                        <button type="button" id="cancel" class="btn btn-danger ml-3">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>