.table-fixed {
    tbody {
      height: 31.5em;
      overflow-y: auto;
    }
    thead,
    tbody,
    tr,
    td,
    th {
      display: block;
    }
  }
  .required {
    color: red; 
 }