<div [@routerTransition]>
    <app-page-header [icon]="'fa-bar-chart-o'" [heading]="'Client Call History'"></app-page-header>
    <div class="row">
        <div class="col-md-6 table-fixed">
            <div class="table-responsive">
                <div *ngIf="clientCallHistoryList; else tableElse">
                    <table class="table table-hover table-striped">
                        <!-- <thead>
                            <tr>
                                <th>name</th>
                            </tr>
                        </thead> -->
                        <tbody class="overflow-ele-scroll">
                            <tr *ngFor="let cchl of clientCallHistoryList">
                                <td (click)="readOnlyEnable(cchl)" (dblclick)="editClientCallHistory(cchl)">
                                    {{cchl.clientPositionId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #tableElse>
                    <h3>Client History is empty</h3>
                </ng-template>
            </div>
        </div>
        <div class="col-md-6">
            <form name="form" id="clientCallHistoryForm" (ngSubmit)="f.form.valid&&createClientCallHistory()" #f="ngForm"
                novalidate>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Client Position<span class="required">*</span></label>
                            <div *ngIf="readOnlyForm; else elseBlock">
                                <input class="form-control" readonly name="cp"
                                    [(ngModel)]="clientCallHistoryModel.clientPositionId">
                            </div>
                            <ng-template #elseBlock>
                                <select class="form-control" name="cp"
                                    [(ngModel)]="clientCallHistoryModel.clientPositionId"
                                    [ngClass]="{'is-invalid': f.submitted && cp.invalid}" #cp="ngModel" required>
                                    <option *ngFor="let cpl of clientPositionList" [ngValue]="cpl.id">{{cpl.id}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    Client Position is mandatory
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Notes<span class="required">*</span></label>
                            <input class="form-control" name="note" [readonly]="readOnlyForm"
                                [(ngModel)]="clientCallHistoryModel.notes"
                                [ngClass]="{'is-invalid': f.submitted && note.invalid}" #note="ngModel" required>
                            <div class="invalid-feedback">
                                Notes is mandatory
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-8">
                        <span *ngIf="formButtonsToggler;else toggleButtons">
                            <button type="submit" id="add" class="btn btn-secondary ml-3">Add</button>
                        </span>
                        <ng-template #toggleButtons>
                            <span *ngIf="editButtonToggler;else toggleEdit">
                                <button type="button" id="update" class="btn btn-secondary ml-2"
                                    (click)="editableForm()">Edit</button>
                            </span>
                            <ng-template #toggleEdit>
                                <button type="button" id="update" class="btn btn-secondary ml-2"
                                    (click)="updateClientCallHistory()">Update</button>
                            </ng-template>
                            <button type="button" id="delete" class="btn btn-secondary ml-2"
                                (click)="deleteClientCallHistory()">Delete</button>
                        </ng-template>
                        <button type="button" id="cancel" (click)="cancelForm()"
                            class="btn btn-secondary ml-3">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>