<div [@routerTransition]>
  <app-page-header [icon1]="'fa-book'" [heading1]="'Guides'" [icon2]="'fa-question-circle'" [heading2]='"FAQs"'></app-page-header>
  <div class="spinner padding-top justify-content-md-center" *ngIf="!listReturned">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="row" *ngIf="listReturned">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"> <input type="text" class="form-control form-control-sm" placeholder="search by skill"
            [(ngModel)]="currSearchTxt" (keyup)="search()"/></div>
            <div class="col-md-9">
              <select class="form-control form-control-sm" [(ngModel)]="currDropSearch" name="sel1" (change)="searchSelect()">
                  <option [ngValue]="null" hidden selected>--search client application--</option>
                  <option *ngFor="let ca of getAllCA" [ngValue]="ca" >
                    {{ ca.name }}
                  </option>
                </select> 
                <span *ngIf="currDropSearch">
                  <button type="button"  class ="btn btn-secondary  btn-sm ml-3" (click)="cancelSearch()">
                  Cancel
                </button>
              </span> 
          </div>   
      </div>
      <div class="table-responsive mt-2 tableFixHead" [style.height.px]="screenHeight">
        <table class="table table-hover table-striped">
          <tbody>
            <tr *ngFor="let ul of faqList.list | paginate: paginateConfig ; let i = index"
              (click)="setModel(ul.id)">
              <td>{{ul.question}}</td>
              <!-- <td width="100">
                <app-action [trashContent]="trashContent" [id]="ul.id" [isTrash]="trash" (trash)="open($event)">
                </app-action>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 justify-content-center mb-5" *ngIf="faqList.noOfRecords > properties.ITEMSPERPAGE">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
    <div class="col-md-6">
      <form name="form" id="UserForm" (ngSubmit)="f.form.valid&&create(f)" #f="ngForm" novalidate>
          <div class="row text-center" >
              <div class="col-md-12 form-group">
                <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate">Add</button>
                <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                  (click)="update(f)">Update</button>
                <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                  (click)="enableFormEditable()">Edit</button> -->
                  <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == '' || enableButtonType == 'U'">
                      {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                    </button>
        
                    <span class="pull-right" *ngIf="showAction && readOnlyForm == 'R'">
                        <div class="dropdown theme-dropdown clearfix" placement="bottom-right" ngbDropdown>
                            <!-- <button class="btn btn-secondary" >
                                Dropdown
                            </button> -->
                            <i class="fa fa-bars" ngbDropdownToggle></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                                <a class="dropdown-item drop-list" (click)="enableFormEditable()">Edit</a>
                                <a class="dropdown-item drop-list" (click)="cancelForm(f)">New</a>
                                <a class="dropdown-item drop-list" (click)="open(model.id, trashContent)">Delete</a>
                            </div>
                        </div> 
                    </span>            
                  </div>
            </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Creator<span class="required">*</span></label>
              <select class="form-control" name="uname" [(ngModel)]="model.creatorId"
                [disabled]="readOnlyForm == 'R'" [ngClass]="{'is-invalid': f.submitted && uname.invalid}"
                #uname="ngModel" required>
                <option *ngFor="let gar of getAllR.list" [ngValue]="gar.id">{{gar.fullname}}
                </option>
              </select>
              <div class="invalid-feedback">
                creator is mandatory
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Client Application<span class="required">*</span></label>
              <select class="form-control" name="ca" [(ngModel)]="model.caId"
                [disabled]="readOnlyForm == 'R'" [ngClass]="{'is-invalid': f.submitted && ca.invalid}"
                #ca="ngModel" required>
                <option *ngFor="let gac of getAllCA" [ngValue]="gac.id">{{gac.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                application is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Skills<span class="required">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="model.skills"
                  [readonly]="readOnlyForm == 'R'" name="skills" [ngClass]="{'is-invalid': f.submitted && skills.invalid}"
                  #pwd="ngModel" #skills required>
              <div class="invalid-feedback">
                skills is mandatory
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row" *ngIf="model.properties.length>0">
            <div class="col-md-12" *ngIf="model.properties.length > 0">
                <div class="form-group">
                  <label>Additional Properties</label>
                  <div class="row" *ngFor="let ap of model.properties; let i = index">
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.name"
                        class="form-control"
                        name="addPropName{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-5">
                      <input
                        type="text"
                        [(ngModel)]="ap.value"
                        class="form-control"
                        name="addPropValue{{ i }}"
                        [readonly]="readOnlyForm == 'R'"
                      />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-minus"
                        aria-hidden="true"
                        id="decrease"
                        *ngIf="enableButtonType != 'E'"
                        (click)="propertiesListIncrement($event.target, i)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Questions</label>
              <textarea rows="5" cols="5" type="text" class="form-control" name="question"
                [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.question"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Answer</label>
              <textarea rows="5" cols="5" type="text" class="form-control" name="response"
                [readonly]="readOnlyForm == 'R'" [(ngModel)]="model.description"></textarea>
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Questions</label>
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" [(ngModel)]="apName" class="form-control" name="ques" [readonly]="readOnlyForm == 'R'" />
                    </div>
                    <div class="col-md-2">
                      <i
                        class="fa fa-plus"
                        aria-hidden="true"
                        id="increase"
                        *ngIf="enableButtonType != 'E'"
                        (click)="questionsListIncrement($event.target, 0)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
        </div> -->
        <div class="row text-center" >
            <div class="col-md-12">
              <button type="submit" *ngIf="enableButtonType == ''" class="btn btn-secondary ml-3" [disabled]="f.form.pristine || f.form.invalid || isCreate"
>Add</button>
              <button type="button" *ngIf="enableButtonType == 'U'" class="btn btn-secondary ml-2"
                (click)="update(f)">Update</button>
              <!-- <button *ngIf="enableButtonType == 'E'" class="btn btn-secondary ml-2" type="button"
                (click)="enableFormEditable()">Edit</button> -->
                <button type="button" (click)="cancelForm(f)" class="btn btn-secondary ml-3" *ngIf="enableButtonType == '' || enableButtonType == 'U'">
                    {{ enableButtonType != '' ? 'Close' : 'Clear' }}
                  </button>
      
              </div>
          </div>
      </form>
    </div>
  </div>
</div>

<ng-template #trashContent let-c="close" let-d="dismiss">
  <div class="modal-header modal-popup-header-bg">
    <h4 class="modal-title">User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ? &hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="trash()">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
